@(notification:List[Notification])

@import models.Notification.NotificationType
@import models.Group
@import models.Post
@import routes.NotificationController._
@import routes._
@import helper._

@****************************
@for(note <- notification){

	@note.noteType match {
		
		case NotificationType.GROUP_NEW_POST => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.view(group.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Nachricht im Newsstream der Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
                            Neues auf dem Newsstream der Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        }
					}
				}
			}
		} 	
		
		case NotificationType.GROUP_NEW_MEDIA => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.media(group.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Medien der Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
						    Neues bei den Medien der Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        }
					}
				}
			}
		}	
		
		case NotificationType.GROUP_NEW_REQUEST => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.index().toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
						    Neue Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        }
					}
				}
			}
		}
		
		case NotificationType.GROUP_REQUEST_SUCCESS => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.view(group.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene akzeptierte Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
						    Deine Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span> wurde akzeptiert
                        }
					}
				}
			}
		}
		
		case NotificationType.GROUP_REQUEST_DECLINE => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.index().toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene abgelehnte Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
						    Deine Anfrage für die Gruppe <span class="hp-green">@truncate(group.title,20)</span> wurde abgelehnt
                        }
					}
				}
			}
		}
		
		case NotificationType.GROUP_INVITATION => {
			@defining(Group.findById(note.objectId)) { group =>
				@if(group != null) {
					@element(forward(note.id,GroupController.index().toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Einladung für die Gruppe <span class="hp-green">@truncate(group.title,20)</span>
                        } else {
						    Du wurdest in die Gruppe <span class="hp-green">@truncate(group.title,20)</span> eingeladen
                        }
					}
				}
			}
		}
		
		case NotificationType.POST_GROUP_NEW_COMMENT => {
			@defining(Post.findById(note.objectId)) { post =>
				@if(post != null && post.group != null) {
					@element(forward(note.id,PostController.view(post.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesener Kommentar zum Post <span class="hp-green">@truncate(post.content,20)</span> in der Gruppe <span class="hp-green">@truncate(post.group.title,20)</span>
                        } else {
						    Neuer Kommentar zum Post <span class="hp-green">@truncate(post.content,20)</span> in der Gruppe <span class="hp-green">@truncate(post.group.title,20)</span>
                        }
					}
				}
			}
		}

		case NotificationType.PROFILE_NEW_POST => {
			@defining(Account.findById(note.objectId)) { account =>
				@if(account != null) {
					@element(forward(note.id,ProfileController.stream(Component.currentAccount().id,1).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesener Post von <span class="hp-green">@account.name</span> auf deinem Newsstream
                        } else {
						    Neuer Post von <span class="hp-green">@account.name</span> auf deinem Newsstream
                        }
					}
				}
			}
		}
		
		case NotificationType.POST_PROFILE_NEW_COMMENT => {
			@defining(Post.findById(note.objectId)) { post =>
				@if(post != null) {
					@element(forward(note.id,PostController.view(post.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesener Kommentar zu deinem Post <span class="hp-green">@truncate(post.content,20)</span> auf dem Newstream von <span class="hp-green">@post.account.name</span>
                        } else {
						    Neuer Kommentar zu deinem Post <span class="hp-green">@truncate(post.content,20)</span> auf dem Newstream von <span class="hp-green">@post.account.name</span>
                        }
					}
				}
			}
		}
		
		case NotificationType.FRIEND_NEW_REQUEST => {
			@defining(Account.findById(note.objectId)) { account =>
				@if(account != null) {
					@element(forward(note.id,FriendshipController.index().toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesener Freundschaftsanfrage von <span class="hp-green">@account.name</span>
                        } else {
						    Neue Freundschaftsanfrage von <span class="hp-green">@account.name</span>
					    }
                    }
				}
			}
		}
		
		case NotificationType.FRIEND_REQUEST_SUCCESS => {
			@defining(Account.findById(note.objectId)) { account =>
				@if(account != null) {
					@element(forward(note.id,ProfileController.stream(account.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Annahme deiner Freundschaftsanfrage an <span class="hp-green">@account.name</span>
                        } else {
						    <span class="hp-green">@account.name</span> hat deine Freundschaftsanfrage angenommen
                        }
					}
				}
			}
		}
		
		case NotificationType.FRIEND_REQUEST_DECLINE => {
			@defining(Account.findById(note.objectId)) { account =>
				@if(account != null) {
					@element(forward(note.id,FriendshipController.index().toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesene Ablehnung deiner Freundschaftsanfrage an <span class="hp-green">@account.name</span>
                        } else {
						    <span class="hp-green">@account.name</span> hat deine Freundschaftsanfrage abgelehnt
                        }
					}
				}
			}
		}
		
		case NotificationType.POST_MY_PROFILE_NEW_COMMENT => {
			@defining(Post.findById(note.objectId)) { post =>
				@if(post != null) {
					@element(forward(note.id,PostController.view(post.id).toString()).toString()){
                        @if(note.notificationRead) {
                            Gelesener Kommentar zum Post <span class="hp-green">@truncate(post.content,20)</span> auf deinem Newsstream
                        } else {
						    Neuer Kommentar zum Post <span class="hp-green">@truncate(post.content,20)</span> auf deinem Newsstream
                        }
					}
				}
			}
		}
	
	}

}

<li><a href="#" id="hp-delete-notifications"><b>Alle als gelesen markieren</b></a></li>
****************************@