@(notifications: List[Notification], countNotifications: Integer, unreadNotifications: Integer)

<li class="dropdown" id="hp-notifications-item">
    <a href="#" class="visible-xs dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-bell"></span>
        <span class="badge"@if(unreadNotifications < 1){ style="display: none;"} id="hp-notification-count" data-count="@unreadNotifications">@unreadNotifications</span>
        <b class="caret"></b>
    </a>
    <a href="#" class="hidden-xs dropdown-toggle" data-toggle="dropdown">
        @Messages("notification.news")
        <span class="badge"@if(unreadNotifications < 1){ style="display: none;"}>@unreadNotifications</span>
        <b class="caret"></b>
    </a>

    <ul class="hp-dropdown-notifications dropdown-menu">
    @if(countNotifications > 0) {
        @for(notification <- notifications) {
        <li class="notification-element @if(notification.isRead){ read}else{ unread}" id="notification_@{notification.id}">
            <a href="@routes.NotificationController.forward(notification.id)">@Html(notification.rendered)</a>
        </li>
        }
    } else {
        <li id="hp-notification-nothing-new" class="hp-notifications">
            @Messages("notification.nothing_new")
        </li>
    }
        <li class="divider"></li>
        <li id="hp-notification-show-history" class="notification-element notification-action">
            <a href="@routes.NotificationController.showAll()">
                <span class="glyphicon glyphicon-th-list"></span>
                @Messages("notification.show_everything")
            </a>
        </li>
        <li id="hp-notification-read-all" class="notification-element notification-action@if(unreadNotifications < 1){ disabled}">
            <a href="@routes.NotificationController.readAll()">
                <span class="glyphicon glyphicon-ok"></span>
                @Messages("notification.read_everything")
            </a>
        </li>
    </ul>
</li>