@(profile: Account)

<div aria-hidden="true" aria-labelledby="hp-deleteModalLabel" id="hp-deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="hp-deleteModalLabel" class="modal-title hp-truncate">
                    <span class="glyphicon glyphicon glyphicon-warning-sign"></span>
                    <b>!!! WARNUNG !!!</b>
                    <span class="glyphicon glyphicon glyphicon-warning-sign"></span>
                </h4>
            </div>
            <div class="modal-body">
                <b style="font-size: 1.3em">Du bist im Begriff, deinen Account komplett zu löschen!</b><br>
                Das bedeutet, dass du dich nie wieder in deinen Account einloggen werden kannst! Deine Posts und Kommentare werden in anonymisierter Form bestehen bleiben.<br>
                <br>
                <p>Wenn du dir wirklich sicher bist, gib<br>
                <code>"Hiermit lösche ich meinen Account von dieser wundervollen Website"</code><br>
                in das folgende Feld ein:</p>
                <input type="text" class="form-control" id="hp-confirmDeleteText" placeholder=":(">
                <!--/user/6/delete-->
            </div>
            <div class="modal-footer">
                <button id="hp-confirmAccountDelete" class="btn btn-danger" data-hp-deletelink="@routes.ProfileController.deleteProfile(profile.id)">LÖSCHEN</button>
                <button data-dismiss="modal" class="btn btn-success">Nicht löschen</button>
            </div>
        </div>
    </div>
</div>