@(courses: List[Group], user: Account)
@import models.enums.GroupType
@import helper._

<table class="table table-hover">
	<thead>
        <tr>
            <th style="width:28px"></th>
            <th style="width:auto">Kursname</th>
            <th style="width:35%">Erstellt von</th>
            <th style="width:35px"></th>
        </tr>
	</thead>
	<tbody class="hp-optionsTable">
        @if(courses.isEmpty) {
            <tr>
                <td></td>
                <td>- keine Treffer -</td>
                <td></td>
                <td class="hp-optionsMenu"></td>
            </tr>
        }
		@for(course <- courses) {
		<tr>
			<td>
				<span class="glyphicon glyphicon-briefcase"></span>
			</td>
			<td>		
				@if(Secured.isOwnerOfGroup(course, user)) {
					<a href="@routes.GroupController.stream(course.id)"><b>@course.title</b></a>
				} else {
					<a href="@routes.GroupController.stream(course.id)">@course.title</a>
				}
			</td>
			<td>
				@views.html.snippets.userLink(course.owner)
			</td>
			<td class="hp-optionsMenu">
                @views.html.Group.snippets.optionMenu(course, user)
			</td>
		</tr>
		}
	</tbody>
</table>