@(groups: List[Group], user: Account)
@import models.enums.GroupType
@import helper._

<table class="table table-hover">
	<tbody class="hp-optionsTable">
        @if(groups.isEmpty) {
            <tr>
                <td></td>
                <td>- keine Treffer -</td>
            </tr>
        }
		@for(group <- groups) {
		<tr>
			<td>
				@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
				@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
			</td>
			<td>	
				@if(Secured.isOwnerOfGroup(group, user)) {
					<a href="@routes.GroupController.stream(group.id)"><b>@group.title</b></a>
				} else {
					@if(Secured.viewGroup(group)) {
						<a href="@routes.GroupController.stream(group.id)">@group.title</a>
					} else {
						<a class="no-drop" rel="tooltip" data-original-title="Du musst der Gruppe erst beitreten" data-container="body">@group.title</a>
					}
				}
			</td>
		</tr>
		}
	</tbody>
</table>