@(groups: List[Group], user: Account)
@import models.enums.GroupType
@import helper._

<table class="table table-hover">
	<thead>
		<tr>
			<th style="width:28px"></th>
			<th style="width:auto">Gruppenname</th>
			<th style="width:35%">Erstellt von</th>
			<th style="width:28px"></th>
		</tr>
	</thead>
	<tbody>
		@for(group <- groups) {
		<tr>
			<td>
				@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
				@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
			</td>
			<td>	
				@if(Secured.isOwnerOfGroup(group, user)) {
					<a href="@routes.GroupController.view(group.id)"><b>@group.title</b></a>
				} else {
					@if(Secured.viewGroup(group)) {
						<a href="@routes.GroupController.view(group.id)">@group.title</a>
					} else {
						<a class="no-drop" rel="tooltip" data-original-title="Du musst der Gruppe erst beitreten" data-container="body">@group.title</a>
					}
				}
			</td>
			<td>
				@views.html.snippets.userLink(group.owner)
			</td>
			<td class="hp-optionsMenu">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                    </a>
                    <ul class="dropdown-menu pull-right nav-pills" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="#infoModal@group.id" data-toggle="modal">
                            <span class="glyphicon glyphicon-info-sign"></span><br>Info
                        </a></li>
                        @if(Secured.isMemberOfGroup(group, Component.currentAccount)) {
                            <li><a href="@routes.GroupController.view(group.id)" data-toggle="modal">
                                <span class="glyphicon glyphicon-comment"></span><br>Newsstream
                            </a></li>
                            <li><a href="@routes.GroupController.media(group.id)" data-toggle="modal">
                                <span class="glyphicon glyphicon-file"></span><br>Medien
                            </a></li>
                        }
                        @if(Secured.isOwnerOfGroup(group, user)) {
                            <li><a href="@routes.GroupController.edit(group.id)" data-toggle="modal">
                                <span class="glyphicon glyphicon-pencil"></span><br>Bearbeiten
                            </a></li>
                            <li><a href="#confirmDeleteGroup@group.id" data-toggle="modal">
                                <span class="glyphicon glyphicon-trash"></span><br>Löschen
                            </a></li>
                        }
                        @if(Secured.isMemberOfGroup(group, Component.currentAccount) && !Secured.isOwnerOfGroup(group, Component.currentAccount)) {
                            <li><a href="@routes.GroupController.removeMember(group.id, user.id)" data-toggle="modal">
                                <span class="glyphicon glyphicon-remove"></span><br>Verlassen
                            </a></li>
                        }
                        @if(!Secured.isMemberOfGroup(group, Component.currentAccount)) {
                            @if(group.groupType.equals(GroupType.open)) {
                                <li><a href="@routes.GroupController.join(group.id)">
                                    <span class="glyphicon glyphicon-ok"></span><br>Beitreten
                                </a></li>
                            } else {
                                <li><a href="@routes.GroupController.join(group.id)">
                                    <span class="glyphicon glyphicon-envelope"></span><br>Beitrittsanfrage
                                </a></li>
                            }
                        }
                    </ul>
                </div>
			</td>
		</tr>
		}
	</tbody>
</table>