@(groups: List[Group], user: Account)
@import models.enums.GroupType
@import helper._

<table class="table table-hover">
	<thead>
		<tr>
			<th style="width:28px"></th>
			<th style="width:auto">Gruppenname</th>
			<th style="width:35%">Erstellt von</th>
			<th style="width:35px"></th>
		</tr>
	</thead>
	<tbody class="hp-optionsTable">
		@for(group <- groups) {
		<tr>
			<td>
				@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
				@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
			</td>
			<td>	
				@if(Secured.isOwnerOfGroup(group, user)) {
					<a href="@routes.GroupController.view(group.id)"><b>@group.title</b></a>
				} else {
					@if(Secured.viewGroup(group)) {
						<a href="@routes.GroupController.view(group.id)">@group.title</a>
					} else {
						<a class="no-drop" rel="tooltip" data-original-title="Du musst der Gruppe erst beitreten" data-container="body">@group.title</a>
					}
				}
			</td>
			<td>
				@views.html.snippets.userLink(group.owner)
			</td>
			<td class="hp-optionsMenu">
                @views.html.Group.snippets.optionMenu(group, user)
			</td>
		</tr>
		}
	</tbody>
</table>