@import helper._

<nav id="hp-navbar-breadcrumb" class="hp-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@routes.Application.index()"><span class="glyphicon glyphicon-home"></span></a></li>
            <li id="hp-navbar-breadcrumb-truncate" class="hidden" onclick="showAllBreadcrumbItems();"><a href="javascript:;">...</a></li>

            @if(Navigation.getLevel() != null && Navigation.getTitle() == null){
                <li>@Navigation.getLevelTitle(Navigation.getLevel())</li>
            }
            @if(Navigation.getLevel() != null && Navigation.getTitle() != null){
                <li><a href="@Navigation.getLevelRoute(Navigation.getLevel())">@Navigation.getLevelTitle(Navigation.getLevel())</a></li>
            }
            @if(Navigation.getParentTitle() != null){
                <li><a href="@Navigation.getParentCall()">@truncate(Navigation.getParentTitle(),30)</a></li>
            }
            @if(Navigation.getTitle() != null){
                <li>@Navigation.getTitle()</li>
            }
        </ol>
    </div>
</nav>