@(users: List[Account])
@import models.enums.GroupType
@import helper._
	
<table class="table table-hover">
	<thead>
		<tr>
			<th style="width:36px"></th>
			<th>Name</th>
			<th style="width:35px"></th>
		</tr>
	</thead>
	<tbody class="hp-optionsTable">
		@for(user <- users) {	
			<tr>
				<td>@views.html.snippets.userLinkAvatar(user)</td>
				<td>@views.html.snippets.userLink(user)</td>
				<td class="hp-optionsMenu">
                    @if(user != Component.currentAccount) {
                        @views.html.snippets.accountOptionMenu(user)
                    }
				</td>
			</tr>
		}
	</tbody>
</table>