@(users: List[Account], adminOptions: Boolean = false)
@import models.enums.GroupType
@import helper._
	
<table class="table table-hover">
	<thead>
		<tr>
			<th style="width:92px"></th>
			<th>Name</th>
			<th style="width:35px"></th>
		</tr>
	</thead>
	<tbody class="hp-optionsTable">
        @if(users.isEmpty) {
            <tr>
                <td></td>
                <td>- keine Treffer -</td>
                <td class="hp-optionsMenu"></td>
            </tr>
        }
		@for(user <- users) {	
			<tr>
				<td>@views.html.snippets.userLinkAvatar(user)</td>
				<td>@views.html.snippets.userLink(user)</td>
				<td class="hp-optionsMenu">
                    @if(user != Component.currentAccount) {
                        @views.html.snippets.accountOptionMenu(user, adminOptions)
                    }
				</td>
			</tr>
		}
	</tbody>
</table>