@(loginForm: Form[Login])

<img id="hp-plusi" src='@routes.Assets.at("images/Plusi/eule_froh.png")'>
<h2>Anmelden</h2>
	
@helper.form(routes.AccountController.authenticate) {
	<div class="form-group">
		<input type="text" class="form-control input-lg" id="loginUser" name="email" placeholder="Matrikelnummer (z.B.: s0123456)" value='@loginForm("email").value'>
	</div>
	<div class="form-group">
		<input type="password" class="form-control input-lg" id="loginPassword" name="password" placeholder="Dein HTW Passwort (LSF)">
	</div>
	<div class="checkbox pull-left">
        <label>
            <input type="checkbox" name="rememberMe" value="1"> Angemeldet bleiben
        </label>
	</div>
	
	<button type="submit" class="btn btn-warning btn-lg pull-right">Anmelden</button>
}