@(content: Html)

<div class="hp-notepad-right">
    <div class="hp-notepad-topRight"></div>
    <div class="hp-notepad-bottomRight"></div>
    <div class="hp-notepad-left">
        <div class="hp-notepad-topLeft"></div>
        <div class="hp-notepad-bottomLeft"></div>
        <div class="hp-notepad-top">
            <div class="hp-notepad-bottom">
                <div class="hp-notepad-content">
                    @content
                </div> <!-- /content -->
            </div> <!-- /bottom -->
        </div> <!-- /top -->
    </div> <!-- /left -->
</div> <!-- /right -->