@(post: Post, currentView: String)
@import helper._
@import play._

@defining(Component.currentAccount()) { currentUser =>

	<div class="well">
		<div class="media">
			@views.html.snippets.userLinkAvatar(post.owner)
			<div class="media-body">
				<h4 class="media-heading">
					@views.html.snippets.userLink(post.owner)
					@if(post.belongsToGroup && currentView != "group"){schrieb in <a href="@routes.GroupController.view(post.group.id)">@truncate(post.group.title,50)</a>}
					@if(post.belongsToAccount && currentUser != post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(post.account)} 
					@if(post.belongsToAccount && currentUser == post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(currentUser)}
                    @if(Secured.isAllowedToDeletePost(post, currentUser)){
                			<a href="#confirmModalDeletePost@post.id" data-toggle="modal" rel="tooltip" data-original-title="Post löschen">
                				<span class="glyphicon glyphicon-trash"></span>
                			</a>
                	}
				</h4>
				<small>@post.createdAt.format("dd.MM.yyyy HH:mm")</small>
			</div>
		</div>
		<br />
		<div class="hp-truncate hp-white-space" id="@post.id">@Html(post.searchContent)</div>
		<div class="clear"></div>
	</div>
}

