@(post: Post, postForm: Form[Post], currentView: String, commentLimit: Integer)
@import helper._
@import play._
@import com.typesafe.config.ConfigFactory

<div class="hp-pagination-element">
    <div class="col-md-1" role="main">
        @if(post.owner.hasAvatar){
        <img alt="avatar" src='@routes.ProfileController.getAvatar(post.owner.id, "medium")' class="hidden-xs hidden-sm hp-avatar-medium"/>
        } else {
        <div class="hidden-xs hidden-sm hp-avatar-medium hp-avatar-default-@post.owner.avatar">@post.owner.getInitials</div>
        }
    </div>
    <div class="col-md-11" role="complementary">
        <div class="hp-post-container">
            @defining(Component.currentAccount()) { currentUser =>

            @views.html.snippets.deletePostModal(post.id)

            <div class="hp-post-area">
                <div class="hp-post-header">
                    @if(post.owner.hasAvatar){
                        <img alt="avatar" src='@routes.ProfileController.getAvatar(post.owner.id, "small")' class="hp-post-avatar visible-xs visible-sm hp-avatar-small"/>
                        } else {
                        <div class="hp-post-avatar visible-xs visible-sm hp-avatar-small hp-avatar-default-@post.owner.avatar">@post.owner.getInitials</div>
                        }
                    <h4>
                        @views.html.snippets.userLink(post.owner)
                        @if(post.belongsToGroup && currentView != "group"){schrieb in <a
                            href="@routes.GroupController.stream(post.group.id)">@truncate(post.group.title,50)</a>}
                        @if(post.belongsToAccount && currentUser != post.account && post.account != post.owner){&rarr;
                        @views.html.snippets.userLink(post.account)}
                        @if(post.belongsToAccount && currentUser == post.account && post.account != post.owner){&rarr;
                        @views.html.snippets.userLink(currentUser)}


                        @if(Secured.isAllowedToDeletePost(post, currentUser)){
                        <a href="#confirmModalDeletePost@post.id" class="hp-post-options hp-nohref" rel="tooltip"
                           data-original-title="Post löschen" data-container="body" data-toggle="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        }

                        @defining(Secured.isPostBookmarkedByAccount(currentUser, post)) { bookmark =>
                        <a href="#bookmark-@post.id" class="hp-post-options hp-post-bookmark-icon hp-nohref" rel="tooltip"
                           data-original-title="Post @if(!bookmark) {merken} else {vergessen}" data-container="body" >
                            @if(!bookmark) { <span class='glyphicon glyphicon-floppy-disk'></span>} else { <span
                                class='glyphicon glyphicon-floppy-saved'></span> }
                        </a>
                        }

                        @if(Secured.isAllowedToEditPost(post, currentUser)) {
                        @if(Secured.isPostStillEditable(post, currentUser)) {
                        <a id="hp-editPost_@post.id" class="hp-post-edit hp-post-options hp-nohref" rel="tooltip" data-original-title="Post bearbeiten" data-container="body">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        } else {
                        <a class="hp-post-options hp-nohref disabled" rel="tooltip" data-original-title="Posts lassen sich nur @ConfigFactory.load().getInt("htwplus.post.editTimeLimit") Minuten nach Erstellung bearbeiten." data-container="body">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        }
                        }

                    </h4>
                    <small>@services.TemplateService.getDateColloquially(post.createdAt)</small>
                </div>

                <div class="hp-post-content">
                    <div class="hp-post hp-truncate" id="@post.id">@post.content</div>
                    <hr/>
                    <div class="hp-comments" id="comments-@post.id">
                        @if(managers.PostManager.getCountComments(post) > ConfigFactory.load().getInt("htwplus.comments.init") &&
                        commentLimit != ConfigFactory.load().getInt("htwplus.comments.singlepost")) {
                        <a href="#collapse-@post.id" class="olderComments unloaded">Alle Kommentare anzeigen...</a>

                        <div id="collapse-@post.id" class="collapse"></div>
                        }

                        @defining(PostController.getComments(post.id, commentLimit)) { comments =>
                            @if(comments != null) {
                                @for(comment <- comments){
                                    @views.html.snippets.postComment(comment)
                                }
                            }
                        }

                        @if(Secured.addComment(post)) {
                        <div class="media">
                            <a class="pull-left hp-nohref" href="@routes.ProfileController.view(currentUser.id)">
                                @if(currentUser.hasAvatar){
                                <img alt="avatar" src="@routes.ProfileController.getAvatar(currentUser.id)" class="hp-avatar-small" />
                                } else {
                                <div class="hp-avatar-small hp-avatar-default-@currentUser.avatar">@currentUser.getInitials</div>
                                }
                            </a>
                            <div class="media-body">
                                @form(routes.PostController.addComment(post.id), 'class -> "hp-comment-form") {
                                <textarea class="hp-new-comment-content" placeholder="schreibe ein Kommentar..." name="content" rows="1"></textarea>
                                }
                            </div>
                        </div>

                        }
                    </div>
                    <div class="clear"></div>
                    <br/>
                </div>
            </div>
            }
        </div>
    </div>
</div>


