@(anyId: Long, target: String, postForm: Form[Post])
@import helper._

@form(routes.PostController.addPost(anyId, target), 'class -> "hp-post-form", 'id -> "addPost") {
	<div class="hp-horizontal-form col-xs-12">
		<div class="input-group">
			@textarea(postForm("Content"), 'class -> "form-control", 'id -> "hp-new-post-content", 'placeholder -> "Erstelle einen neuen Post...")
			<span class="input-group-btn">
				<button type="submit" class="btn btn-warning">Posten</button>
			</span>
		</div>
	</div>
}