@(comment: Post)
@import com.typesafe.config.ConfigFactory

@views.html.snippets.deleteCommentModal(comment.id)
<div class="media">
	<a class="pull-left hp-nohref" href="@routes.ProfileController.view(comment.owner.id)">
		@if(comment.owner.hasAvatar){
			<img alt="avatar" src="@routes.ProfileController.getAvatar(comment.owner.id)" class="hp-avatar-small" />
		} else {
			<div class="hp-avatar-small hp-avatar-default-@comment.owner.avatar">@comment.owner.getInitials</div>
		}
	</a>
	<div class="media-body">
		<h5 class="media-heading">
			@views.html.snippets.userLink(comment.owner)
			<small>@services.TemplateService.getDateColloquially(comment.createdAt)</small>
			@if(Secured.isAllowedToDeletePost(comment, Component.currentAccount())){
               	<a href="#confirmModalDeleteComment@comment.id" style="text-decoration: none;" data-toggle="modal" rel="tooltip" data-original-title="Kommentar löschen">
               		<span class="glyphicon glyphicon-trash"></span>
               	</a>
			}
            @if(Secured.isAllowedToEditPost(comment, Component.currentAccount())) {
                @if(Secured.isPostStillEditable(comment, Component.currentAccount())) {
                    <a id="hp-editPost_@comment.id" class="hp-post-edit hp-nohref" data-target-post-id="@comment.id" rel="tooltip" data-original-title="Kommentar bearbeiten">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                } else {
                    <a class="hp-post-edit disabled hp-nohref" rel="tooltip" data-original-title="Kommentare lassen sich nur @ConfigFactory.load().getInt("htwplus.post.editTimeLimit") Minuten nach Erstellung bearbeiten.">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                }
            }
		</h5>
		<div class="hp-post hp-truncate" id="@comment.id">@comment.content</div>
	</div>
</div>