@(post: Post, postForm: Form[Post], currentView: String, commentLimit: Integer)
@import helper._
@import play._
@import com.typesafe.config.ConfigFactory

<div class="hp-post-container">
@defining(Component.currentAccount()) { currentUser =>
	<br />
	@views.html.snippets.deletePostModal(post.id)

	<div class="well@if(post.isBroadcastMessage){ broadcast}">
		<div class="media">
			@views.html.snippets.userLinkAvatar(post.owner)
			<div class="media-body">
				<h4 class="media-heading">
					@views.html.snippets.userLink(post.owner)
					@if(post.belongsToGroup && currentView != "group"){schrieb in <a href="@routes.GroupController.stream(post.group.id)">@truncate(post.group.title,50)</a>}
					@if(post.belongsToAccount && currentUser != post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(post.account)} 
					@if(post.belongsToAccount && currentUser == post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(currentUser)}
                    @if(Secured.isAllowedToDeletePost(post, currentUser)){
                        <a href="#confirmModalDeletePost@post.id" style="text-decoration: none;" data-toggle="modal" rel="tooltip" data-original-title="Post löschen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                    @if(Secured.isAllowedToEditPost(post, currentUser)){
                        @if(Secured.isPostStillEditable(post, currentUser)) {
                            <a id="hp-editPost_@post.id" class="hp-post-edit hp-nohref" rel="tooltip" data-original-title="Post bearbeiten">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        } else {
                            <a class="hp-post-edit hp-nohref disabled" rel="tooltip" data-original-title="Posts lassen sich nur @ConfigFactory.load().getInt("htwplus.post.editTimeLimit") Minuten nach Erstellung bearbeiten.">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                    }
				</h4>
				<small>@services.TemplateService.getDateColloquially(post.createdAt)</small>
			</div>
		</div>
		<br />
		<div class="hp-truncate hp-white-space" id="@post.id">@post.content</div>
		<hr />
		<div class="hp-comments" id="comments-@post.id">
			@if(post.getCountComments() > Play.application().configuration().getInt("htwplus.comments.init") && commentLimit != Play.application().configuration().getInt("htwplus.comments.singlepost")) {
				<a href="#collapse-@post.id" class="olderComments unloaded">Alle Kommentare anzeigen...</a>
				<div id="collapse-@post.id" class="collapse"></div>
			}
			
			@defining(PostController.getComments(post.id, commentLimit)) { comments =>
                @if(comments != null) {
                    @for(comment <- comments){
                        @views.html.snippets.postComment(comment)
                    }
                }
	 		}
	 		@if(Secured.addComment(post)) {
	 			@form(routes.PostController.addComment(post.id), 'class -> "hp-comment-form", 'id -> ("addComment-"+post.id)) {
					<div class="hp-horizontal-form col-xs-12">
						<div class="input-group">
							@textarea(postForm("Content"), 'class -> "form-control", 'id -> "hp-new-comment-content", 'placeholder -> "Erstelle ein Kommentar...")
							<span class="input-group-btn">
								<button type="submit" class="btn btn-sm btn-warning commentSubmit">Kommentieren</button> 
							</span>
						</div>
					</div>
				}
	 		}
		</div>
		<div class="clear"></div>
	</div>
}
</div>

