@(comment: Post)
@views.html.snippets.deleteCommentModal(comment.id)
<div class="media">
	<a class="pull-left" href="@routes.ProfileController.view(comment.owner.id)">
		<img alt="avatar" src="@comment.owner.getAvatarUrl()" class="hp-avatar" />
	</a>
	<div class="media-body">
		<h5 class="media-heading">
			@views.html.snippets.userLink(comment.owner)
			<small>(@comment.createdAt.format("dd.MM.yyyy HH:mm"))</small>
			@if(Secured.isAllowedToDeletePost(comment, Component.currentAccount())){
               	<a href="#confirmModalDeleteComment@comment.id" data-toggle="modal" rel="tooltip" data-original-title="Post löschen">
               		<span class="glyphicon glyphicon-trash"></span>
               	</a>
			}
		</h5>
		<div class="hp-truncate hp-white-space" id="@comment.id">@comment.content</div>
	</div>
</div>