@(friends: List[Account], requests: List[Friendship])
@import helper._

@main("Freunde") {

	<h2><span rel="tooltip" data-original-title="Hier findest du den aktuellen Status deiner Freundschafts-Anfragen." data-delay="500">
		Offene Anfragen</span>
    </h2>

    @if(!requests.isEmpty) {
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width:30%">Von</th>
				<th style="width:30%">An</th>
				<th>Status</th>
				<th style="width:35px"></th>
			</tr>
		</thead>
		<tbody class="hp-optionsTable">
		@for(request <- requests){
			<tr>
			@if(request.account.equals(Component.currentAccount())){
				<td>
					<a href="@routes.ProfileController.view(request.account.id)">Mir</a>
				</td>
				<td>
					@views.html.snippets.userLink(request.friend)
				</td>
				<td>
					@if(request.linkType.equals(models.enums.LinkType.reject)){ abgelehnt } 
					@if(request.linkType.equals(models.enums.LinkType.request)){ in Bearbeitung } 
				</td>
			} else {
				<td>
					@views.html.snippets.userLink(request.account)
				</td>
				<td>
					<a href="@routes.ProfileController.view(request.friend.id)">Mich</a>
				</td>
				<td>
					zu bearbeiten
				</td>
			}
                <td class="hp-optionsMenu">
                    @views.html.Friends.snippets.optionMenu(request)
                </td>
            </tr>
		}
		</tbody>
	</table>
	} else {
	<p><i>Es gibt keine offenen Anfragen.</i></p>
	}
	<hr />
	<br />
	
	<h2>
		<span rel="tooltip" data-original-title="Hier findest du alle Personen, mit denen du befreundet bist." data-delay="500">Meine Freunde</span>
	</h2>
	
	@if(!friends.isEmpty()) {
	
		<!-- list all found persons -->
		@views.html.snippets.listAccounts(friends)
		
	} else {
		<p><i>Du hast noch keine Freunde. Jetzt Freunde <b><a class="hp-focus-search">suchen</a></b>.</i></p>
	}

}
