@admin("Control Center") {
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexSettings">Mapping und Analyzer!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexAccounts">Accounts indexieren!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexGroups">Gruppen indexieren!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexPosts">Posts indexieren!</a>
}