@admin("Control Center") {
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexDelete">DELETE Index</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexSettings">Mapping und Analyzer!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexAccounts">Accounts (re)indexieren!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexGroups">Gruppen (re)indexieren!</a>
    <br />
    <br />
    <a type="button" class="btn btn-warning" href="@routes.AdminController.indexPosts">Posts (re)indexieren!</a>
}