

/*============================== General ==============================*/

html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
	margin-top: 80px;
	overflow-x: hidden;
}

div.alert {
	margin-left: -10px;
    margin-right: -10px;
}

a {
	outline: none!important;
}

hr {
	border-bottom: 1px solid #ffffff
}

table {
	table-layout: fixed;
	margin-bottom: 0;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
}

textarea {
  	resize: none;
}

button > .glyphicon,
a > .glyphicon {
	color: rgb(90,88,88);
}

button > .glyphicon:hover,
a > .glyphicon:hover {
	color: #76B900;
}

.hp-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}

.hp-white-space {
	white-space: pre-line;
}

h1 {
	text-align: center;
}

#hp-feedback {
	width: 50px;
	height: 172px;
	padding: 5px;
	position: fixed;
	left: -5px;
	top: 50%;
	margin-top: -105px;
	z-index: 1500;
}

#hp-feedback-icon {
	color: white !important;
	margin: 10px;
	font-size: 14pt;
}

.hp-easy-feedback {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	
	transform: rotate(90deg);
	font-size: 24px;
}

#hp-feedback-content {
	height: 100px;
}

.hp-green {
	/* color: #76B900; */
	font-weight: bold;
}

.hp-bold {
    font-weight: bold;
}

.no-drop {
	cursor: no-drop;
}

.hp-focus-search {
	cursor: pointer;	
}

/*============================== Landingpage ==============================*/
body#hp-landingpage {
	margin-top: 0 !important;
}

#hp-landingpage div.alert {
	position: absolute;
	margin: 0;
	margin-top: 15px !important;
	left: 10px;
	right: 10px;
	text-shadow: none;
}

@media (min-width: 992px) {
    #hp-landingpage div.alert {
    	margin-top: 25px !important;
    }
}

#hp-description {
    text-align: center;
    padding-top: 30px;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 20pt;
	-moz-transform: rotate(350deg);
	-ms-transform: rotate(350deg);
	-o-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg);
}

#hp-landingpage div#hp-login {
	padding: 70px 0;
    background-size: 100% auto;
    background: url('http://www.htw-berlin.de/fileadmin/HTW/Zentral/DE/HTW/ZR1_Presse/Pressefotos/130719___Philipp_Meuser_0011_01_1200px_crop.jpg') no-repeat center center;
    color: white !important;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

#hp-landingpage div#hp-login .hp-logo img {
	margin: 0;
	padding: 0 50px;
}

@media (min-width: 992px) {
    #hp-landingpage div#hp-login {
       	padding: 150px 0;
    }
    #hp-landingpage div#hp-login .hp-logo {
       	margin-top: 30px;
    }
    #hp-landingpage div#hp-login .hp-logo img {
        padding: 0;
    }
}

#hp-landingpage div#hp-login input {
    background-color: rgba(255, 255, 255, 0.9);
}

#hp-landingpage div#hp-login > div {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 991px) {
    #hp-landingpage div#hp-login > div {
        margin: -70px 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #hp-landingpage div#hp-login #hp-login-right {
        margin-top: 30px;
    }
}

#hp-landingpage div#hp-navbar {
    border-width: 0 0 1px;
    border-radius: 0;
    z-index: 1030;
}

#hp-landingpage div#hp-navbar.hp-animate {
    transition: 0.3s ease 0s;
	-webkit-transition: 0.3s ease 0s;
	-moz-transition: 0.3s ease 0s;
	-ms-transition: 0.3s ease 0s;
	-o-transition: 0.3s ease 0s;
}

#hp-landingpage div#hp-navbar.affix-top {
    min-height: 15px;
    margin-bottom: -15px;
}

#hp-landingpage div#hp-navbar.affix-top > div.hp-navbar-container {
    display: none !important;
    visibility: hidden;
}

#hp-landingpage div#hp-navbar.affix {
	top: 0;
	left: 0;
	right: 0;
	min-height: 50px;
    margin-bottom: -51px;
}

#hp-landingpage div#hp-navbar.affix > div.hp-navbar-container {
    display: none;
    visibility: visible;
}

#hp-landingpage div#hp-navbar ul.hp-nav {
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

@media (min-width: 768px) {
    #hp-landingpage div#hp-navbar ul.hp-nav > li:not(:last-child) {
        margin-right: 30px;
    }
}

#hp-landingpage div#hp-about {
	margin-top: 51px;
	margin-bottom: 20px;
	padding-top: 15px;
}

#hp-landingpage div#hp-about > div {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
}

#hp-landingpage div#hp-about > div > * {
    padding: 0 30px;
}

#hp-landingpage div#hp-about > div:last-child {
    padding-bottom: 15px;
}

#hp-landingpage div#hp-about .hp-circle {
    width: 110px;
    margin-top: 30px;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}

#hp-landingpage div#hp-about .hp-circle > img {
     border-radius: 50%;
}

#hp-landingpage div#hp-about > div:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    z-index: -1;
}

#hp-landingpage div#hp-feature-text {
    margin-top: 30px;
}

div[id*='hp-feature-text-'] table {
    width: 100%;
    margin-top: 80px;
}

@media (min-width: 992px) {

    #hp-landingpage div#hp-feature-text table {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #hp-landingpage div#hp-feature-text table tr:first-child {
        vertical-align: bottom;
        height: 50%;
    }

    #hp-landingpage div#hp-feature-text table tr:last-child {
        vertical-align: top;
        height: 50%;
    }

	#hp-landingpage div#hp-feature-demo .hp-notepad-right {
	    margin-top: 30px;
	}

	#hp-landingpage div#hp-feature-demo .hp-notepad-content {
		position: relative;
	    min-height: inherit;
	}

    #hp-landingpage div#hp-features div[id*='hp-feature-demo-'] {
        display: none;
        opacity: 0;
        position: absolute;
        top: 5px;
        left: 30px;
        right: 15px;
        z-index: 1000;
        height: 100%;
        background-color: white;
        padding-right: 15px;
        overflow-y: auto;
    }

    #hp-landingpage div#hp-features div[id*='hp-feature-demo-']:first-child {
        display: block !important;
        opacity: 1 !important;
    }

    #hp-landingpage div#hp-features-trigger {
        margin-bottom: 0;
        width: 100%;
        height: 1px;
        color: green;
    }
}

#hp-landingpage div#hp-features .hp-feature-title {
	font-family: 'Swanky and Moo Moo', cursive;
	margin-top: 0;
	line-height: 1.1;
}

#hp-landingpage div#hp-features .hp-feature-description {
	margin-top: 30px;
	margin-bottom: 0;
}

#hp-landingpage div.hp-feature-icon {
    position: absolute;
    top: 0;
    z-index: -1;
}

#hp-landingpage div.hp-feature-icon span.glyphicon {
    font-size: 50pt;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    color: rgb(230,230,230);
}

#hp-landingpage div[id*='hp-feature-text-']:nth-child(2n) div.hp-feature-icon {
    left: 0;
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

#hp-landingpage div[id*='hp-feature-text-']:nth-child(2n+1) div.hp-feature-icon {
    right: 0;
	-moz-transform: rotate(345deg);
	-ms-transform: rotate(345deg);
	-o-transform: rotate(345deg);
	-webkit-transform: rotate(345deg);
}


/*============================== Navigation ==============================*/

.hp-navbar-container {
	max-width: 1000px;
	margin: 0 auto;
}

.hp-navbar-container .navbar-right {
    margin-right: 0 !important;
}

.hp-nav-user {
	padding: 9px 10px !important;
}

.hp-dropdown-notifications,
.hp-dropdown-search {
	width: 600px;
	max-height: 470px;
	left: -150px;
	overflow-y: auto;
}

@media (max-width: 767px) {
	.hp-dropdown-notifications,
	.hp-dropdown-search {
		position: fixed;
		width: auto;
		top: 50px;
		right: 1px;
		left: 1px;
	}
}

.hp-dropdown-search .hp-search-form {
	width: 100%;
	position: relative;
	padding-right: 10px;
}

.hp-dropdown-search .hp-search-form .form-group {
	margin-bottom: 0;
}

.hp-dropdown-search .hp-search-form input {
	background-color: white;
	width: 100%;
}

.hp-dropdown-search .hp-search-form button {
	position: absolute;
	top: 5px;
	right: 11px;
}

.hp-navbar-container > .hp-search-form {
	padding-right: 7px;
}

.hp-navbar-container > .hp-search-form input {
	width: 150px;
	padding-right: 20px;
	background-color: #E0F2BF;
}

.hp-search-form button {
	background: transparent;
	border: 0;
	margin-left: -28px;
	outline: none;
}

.hp-search-form button .glyphicon:hover {
	color: #76B900 !important;
}

#hp-navbar li a .glyphicon {
	color: inherit !important;
}

.hp-breadcrumb {
    z-index: 999;
    position: fixed;
    top: 51px;
    width: 100%;
    height: 40px;
    line-height: 40px !important;
    border-bottom: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.9);
}

.hp-breadcrumb .breadcrumb {
    margin-bottom: 0;
    background-color: inherit;
    padding: 0;
}

.hp-breadcrumb .breadcrumb a {
    height: 100%;
    display: inline-block;
}

.hp-breadcrumb .breadcrumb a:hover .glyphicon {
    color: #76b900;
}

.hp-breadcrumb .breadcrumb > li:first-child {
    margin-left: 10px;
}

.hp-breadcrumb ul.breadcrumb li:last-child {
    padding-right: 10px;
}

/*============================== Notification ==============================*/

.hp-dropdown-notifications li.notification-action:not(.disabled) a {
    color: #76b900;
}

.hp-dropdown-notifications li.notification-element span.glyphicon {
    margin-right: 10px;
}

.hp-dropdown-notifications li.notification-element a {
    width: 100%;
}

.hp-dropdown-notifications li.notification-element.read a {
    color: #bcbcbc;
}

.hp-dropdown-notifications li.notification-element.unread a {
    color: black;
}

.hp-dropdown-notifications li#hp-notification-show-history {
    width: 50%;
    float: left;
    text-align: center;
}

.hp-dropdown-notifications li#hp-notification-read-all {
    width: 50%;
    float: right;
    text-align: center;
}

.hp-dropdown-notifications li#hp-notification-nothing-new {
    text-align: center;
    padding: 7px;
}

div.hp-mailto a span.glyphicon,
div.notifications-mark-as-read a span.glyphicon,
div.well.notification a span.glyphicon {
    margin-right: 7px;
    color: #76b900;
}

div.hp-mailto a:hover span.glyphicon,
div.notifications-mark-as-read a:hover span.glyphicon,
div.well.notification a:hover span.glyphicon {
    color: rgb(90,88,88);
}

div.well.notification div.notification-date {
    font-size: smaller;
}

div.well.notification div.notification-read {
    font-size: smaller;
    font-style: italic;
}

div.well.notification div.notification-read.read {
    color: #76b900;
}

div.well.notification div.notification-read.unread {
    color: #ff5f00;
}

input.hp-notification-hour {
	display: inline;
	width: inherit;
}

.notifications-mark-as-read {
    text-align: center;
    margin: 5px;
}

.dropdown-menu li .glyphicon {
    margin: 0 7px 0 0;
}

.dropdown-menu li div a {
    text-decoration: none;
}

.dropdown-menu li div a :first-line {
    text-indent: 100px;
}

/*============================== Nav-Tabs ==============================*/

.hp-nav-tabs {
	margin-top: -40px;
}

.hp-nav-tabs > li {
	width: 50px;
}

.hp-nav-tabs > li > a,
.hp-nav-tabs > li > a:hover,
.hp-nav-tabs > li > a:focus {
	background-color: #76b900;
	border: 1px solid #dddddd;
	padding: 4px 2px 0 2px;
}

.hp-nav-tabs .glyphicon:hover {
	color: #5a5858;
}

.hp-nav-tabs li.active>a {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.125);
}

.hp-nav-tabs li.deactive>a {
    border-bottom-color: #dddddd;
}

/*============================== Logo ==============================*/

.hp-logo {
	width: 100%;
	text-align: center;
}

.hp-logo img {
	width: 90%;
	height: auto;
	margin: 50px 0 100px;
}

#hp-navbar .hp-logo {
	height: 50px;
	padding: 15px 15px 12px 10px
}

#hp-navbar .hp-logo img {
	height: 23px;
	width: auto;
	margin: 0;
}

#hp-navbar .hp-logo:hover #hover,
#hp-navbar .hp-logo #normal {
	display: inherit!important;
}

#hp-navbar .hp-logo #hover,
#hp-navbar .hp-logo:hover #normal {
	display: none!important;
}

#hp-plusi {
	width: 170px;
}

#hp-login #hp-plusi {
	position: absolute;
	right: 5px;
	bottom: 135px;
}

.hp-circle #hp-plusi {
	width: 100px;
	margin-left: -2px;
}

@media all and (max-width: 480px) {
    #hp-plusi {
		width: 130px;
    }

	#hp-login #hp-plusi {
		bottom: 140px;
	}
}

/*============================== Notepad ==============================*/

div.hp-notepad-right {
	position: relative;
    background: url(../images/vertical.png) repeat-y right 0;
    margin: 40px -10px 0;
}

@media (max-width: 767px) {
    div.hp-notepad-right  {
        margin-right: -25px;
        margin-left: -49px;
    }
}

div.hp-notepad-topRight {
	width: 48px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
    background: url(../images/backgrounds.png) no-repeat -50px -15px;
}

div.hp-notepad-bottomRight {
	width: 48px;
	height: 22px;
	position: absolute;
	bottom: 0;
	right: 0;
    background: url(../images/backgrounds.png) no-repeat -50px -30px;
}

div.hp-notepad-left {
	margin-right: 24px;
    background: url(../images/vertical.png) repeat-y 0 15px;
}

div.hp-notepad-topLeft {
	width: 50px;
	height: 15px;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
    background: url(../images/backgrounds.png) no-repeat 0 -15px;
}

div.hp-notepad-bottomLeft {
	width: 50px;
	height: 22px;
	position: absolute;
	bottom: 0;
	left: 0;
    background: url(../images/backgrounds.png) no-repeat 0 -30px;
}

div.hp-notepad-top {
	margin-left: 50px;
	padding-top: 15px;
    background: url(../images/backgrounds.png) repeat-x 0 top;
}

div.hp-notepad-bottom {
	padding-bottom: 22px;
    background: url(../images/backgrounds.png) repeat-x 0 bottom;
}

div.hp-notepad-content {
	min-height: 500px;
	padding: 5px 30px 0;
	background-color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

@media (max-width: 767px) {
    div.hp-notepad-content {
        padding-right: 5px;
        padding-left: 5px;
    }
}

div#hp-footer {
	margin: 5px 44px 0 69px;
}

div#hp-footer-links {
	float: left;
}

div#hp-footer-logo {
	height: 46px;
	width: 200px;
    background: url(../images/backgrounds.png) no-repeat right -52px;
    float: right;
}


/*============================== dl-Form ==============================*/

form dl dt {
	text-align: left !important;
}

form dl dd > .checkbox,
form dl dd > .radio {
	margin-top: 0;
}

form dl dd > .checkbox:last-child,
form dl dd > .radio:last-child {
	margin-bottom: 0;
}

form dl dd > .radio input {
	margin-top: 2px;
}

form dd.error {
	text-shadow: 1px 1px 1px rgba(185, 74, 72, 0.5);
	color: #b94a48;
}

form dd.info {
	display: none;
}


/*============================== Pagination ==============================*/

div.hp-pagination {
	text-align: center;
}

.hp-pagination > ul {
	margin-bottom: 0;
}

.hp-pagination a.active {
	background: #76b900;
	color: white;	
}


/*============================== Post & Comment View ==============================*/

.hp-horizontal-form {
	padding: 0;
	float: none !important;
}

.hp-horizontal-form .input-group-btn {
	padding-left: 10px;
	vertical-align: top;
}

.hp-horizontal-form textarea,
.hp-horizontal-form button {
	border-radius: 4px!important;
}

#hp-new-comment-content,
#hp-new-post-content {
	height: 31px;
    transition: height 0.5s ease 0.2s;
	-webkit-transition: height 0.5s ease 0.2s;
	-moz-transition: height 0.5s ease 0.2s;
	-ms-transition: height 0.5s ease 0.2s;
	-o-transition: height 0.5s ease 0.2s;
}

#hp-new-comment-content:focus,
#hp-new-post-content:focus {
	height: 104px;
}

.hp-comments {
	margin-left: 50px;
}

@media (max-width: 767px) {
    .hp-comments {
        margin-left: 15px;
    }
}

.hp-comment-form {
	margin-top: 15px;
}

.hp-post-form label,
.hp-comment-form label {
	display: none;
}

.hp-post-form dl, dd,
.hp-comment-form dl, dd {
	margin: 0;
}

.media-heading .popover  {
	font-size: 11px;
    font-weight: normal;
    line-height: 16px;
}

.well {
	padding: 15px;
	margin-bottom: 0;
}
.well.broadcast {
    border: 1px solid #76b900;
}

.media small {
	color: #999999;
}

.media-heading a[data-toggle = 'modal'] {
	position: absolute;
	margin-left: 5px; 
}

.hp-postLink {
	color: #0082D1;
}

.hp-postLink .glyphicon,
.hp-postLink .glyphicon:hover {
    color: inherit;
    text-decoration: inherit;
    top: 0;
}

/*============================== Avatare ==============================*/

#hp-avatars img {
	margin-bottom: 8px;
	margin-right: 8px;
	width: 64px;
}

#hp-avatars img:hover {
	border-color: #5a5858;
}

#hp-avatars img.active {
  border-color: rgba(255, 95, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
}

.hp-avatar {
	width: 120px;
	height: 120px;
}

#hp-navbar .hp-avatar {
	height: 32px;
	width: 32px;
}

@media (max-width: 350px) {
    .hp-nav li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

dl .hp-avatar {
	width: 80px;
	height: 80px;
}

.media .hp-avatar,
table .hp-avatar {
	width: 25px;
	height: 25px;
}

table .hp-avatar {
	margin-bottom: -4px;
    margin-top: -4px;
}

/*============================== Token ==============================*/

#token-input {
	display:none;
}

/*============================== Ajax ==============================*/

.loading {
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
	background-size: 100%;
	display: none;
}

.loading#loadingMedia{
	vertical-align: top;
}

#loading-active {
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	background-size: 100%;
}

#fileupload-status {
	display: none;
}

/*============================== Options Menu ==============================*/

.hp-optionsMenu {
    overflow: visible;
    padding: 0!important;
}

.hp-optionsMenu .dropdown-menu {
    background-color: #5a5858;
    color: white;
    opacity: 0.93;
    margin: 0;
    padding: 8px 13px;
    float: none;
    right: 53px;
    left: auto;
    min-width: initial;
}

.hp-optionsMenu .dropdown {
    position: inherit;
}

.hp-optionsMenu .open>.dropdown-menu {
    display: flex;
}

@media (max-width: 767px) {
    .hp-optionsMenu .open>.dropdown-menu {
        display: block;
        right: 14px;
        left: 38px;
        text-align: center;
        border-radius: 0;
    }

    .hp-optionsMenu .open>.dropdown-menu li{
        display: inline-block;
        float: none;
    }
}

.hp-optionsMenu .dropdown-menu a {
    background-color: #5a5858;
    color: white;
    text-align: center;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.hp-optionsMenu .dropdown-menu a > .glyphicon {
    font-size: 15px;
    color: inherit;
}

.hp-optionsMenu .dropdown-menu a:hover,
.hp-optionsMenu .dropdown-menu a:focus {
    background-color: inherit;
    color: #76B900;
}

.hp-optionsMenu .dropdown-toggle {
    cursor: pointer;
}

.hp-optionsMenu .dropdown-toggle > .glyphicon {
    width: 100%;
    text-align: center;
    line-height: 31px;
}

.hp-optionsMenu .dropdown-toggle > .glyphicon-chevron-up {
    color: #76B900;
}

.hp-optionsTable > tr:hover .dropdown-toggle > .glyphicon {
    color: #76B900
}