<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <!-- Appender definitions -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <!-- Log level for everything that is not defined -->
    <root level="WARN">
        <appender-ref ref="ASYNCFILE" />
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <!-- Define some loggings -->
    <logger name="play" level="INFO" />
    <logger name="application" level="INFO" />
    <logger name="akka" level="INFO" />
    <logger name="controllers" level="INFO" />
    <logger name="managers" level="INFO" />
    <logger name="models" level="INFO" />
    <logger name="services" level="INFO" />
    <logger name="play" level="INFO" />

</configuration>