@(response : models.services.ElasticsearchResponse)

<div class="col-lg-3" role="complementary">
    <div class="hp-sitenav addmargin">
        <b><span class="glyphicon glyphicon-cog"></span> Kategorien</b>
        <hr>
        <div class="hp-searchnav">
            <span class="glyphicon glyphicon-user"></span>
            <a class="@if(response.lUserDocuments == 0) {disabled}" href='/search?keyword=@response.keyword&mode=user'>Personen </a><small>(@response.lUserDocuments)</small>
        </div>
        <div class="hp-searchnav">
            <span class="glyphicon glyphicon-list"></span>
            <a class="@if(response.lGroupDocuments == 0) {disabled}" href='/search?keyword=@response.keyword&mode=group'>Gruppen und Kurse </a><small>(@response.lGroupDocuments)</small>
        </div>
        <div class="hp-searchnav">
            <span class="glyphicon glyphicon-comment"></span>
            <a class="@if(response.lPostDocuments == 0) {disabled}" href='/search?keyword=@response.keyword&mode=post'>Post und Kommentare </a><small>(@response.lPostDocuments)</small>
        </div>
    </div>
</div>