@(users: List[Account])

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:36px"></th>
            <th></th>
            <th style="width:25px"></th>
        </tr>
    </thead>
    <tbody class="hp-optionsTable">
        @if(users.isEmpty) {
            <tr>
                <td></td>
                <td>- keine Treffer -</td>
                <td class="hp-optionsMenu"></td>
            </tr>
        }
        @for(user <- users) {
            <tr>
                <td>@views.html.snippets.userLinkAvatar(user)</td>
                <td>@views.html.snippets.userLink(user)</td>
                <td class="hp-optionsMenu">
                @if(user != Component.currentAccount) {
                    @views.html.snippets.accountOptionMenu(user, false)
                }
                </td>
            </tr>
        }
    </tbody>
</table>