@(post: Post, postForm: Form[Post])

@import models.enums._
@import play._

@main("Post") {

	@if(post.belongsToGroup()) {
	
		<!-- Start infoModal -->
		<div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
			@views.html.Group.snippets.infoModal(post.group)    
		</div>
		<!-- Ende infoModal -->
		
		<!-- Start confirmDeleteGroupModal -->
		<div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
			@views.html.Group.snippets.deleteGroupModal(post.group)   
		</div>
		<!-- End confirmDeleteGroupModal -->
		
		<!-- Start confirmLeaveGroupModal -->
		<div id="confirmLeaveGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
			@views.html.Group.snippets.leaveGroupModal(post.group)
		</div>
		<!-- End confirmDeleteGroupModal -->
		
		@views.html.Group.snippets.navTabs(post.group)
		
		<h2 class="hp-truncate">
			@if(post.group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
			@if(post.group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
			@if(post.group.groupType.equals(GroupType.course)) { <span class="glyphicon glyphicon-briefcase"></span> }
			@post.group.title
		</h2>
		<br />
		<br />
		@views.html.snippets.postView(post, postForm, models.Post.GROUP, Play.application().configuration().getInt("htwplus.comments.singlepost"))
				
	}
	
	@if(post.belongsToAccount()) {
			@views.html.Profile.snippets.navTabs(post.account)
			<h2>@post.account.name</h2>
			<br />
			<br />
		@views.html.snippets.postView(post, postForm, models.Post.PROFILE, Play.application().configuration().getInt("htwplus.comments.singlepost"))
	}
}
