@(group: Group, groupForm: Form[Group])
@import helper._
@import models.enums.GroupType
@import models.enums.LinkType

@main("Gruppe bearbeiten") {

@views.html.Group.snippets.header(group)

<div class="row">
    <div class="col-lg-12" role="main">
        <div class="hp-notepad-content addmargin">
            </br>
            @form(routes.GroupController.update(group.id), 'id -> "editGroupForm") {
                <dl class="dl-horizontal">
                    <dt>Gruppengründer</dt>
                    <dd>@group.owner.firstname @group.owner.lastname</dd>
                    <dt>Erstellt am</dt>
                    <dd>@group.createdAt.format("dd.MM.yyyy")</dd>
                    @textarea(groupForm("description"), 'class -> "form-control", '_label -> "Beschreibung", 'rows -> "5")
                    @if(Secured.createCourse()) {
                        @helper.inputGroupType(groupForm("type"),
                            options = options("0"->"Öffentliche Gruppe","1"->"Private Gruppe","2"->"Kurs"),
                            '_label -> "Typ")
                    } else {
                        @helper.inputGroupType(groupForm("type"),
                            options = options("0"->"Öffentliche Gruppe","1"->"Private Gruppe"),
                            '_label -> "Typ")
                    }
                    <div id="token-input">
                    @inputText(groupForm("token"), 'class -> "form-control", '_label -> "Token")
                    </div>
                    <dt>Mitglieder</dt>
                    <dd>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:36px"></th>
                                    <th>Name</th>
                                    <th style="width:35px"></th>
                                </tr>
                            </thead>
                            <tbody class="hp-optionsTable">
                            @defining(managers.GroupAccountManager.findAccountsByGroup(group, LinkType.establish)) { accounts =>
                                @for(account <- accounts) {
                                    <tr>
                                        <td>@views.html.snippets.userLinkAvatar(account)</td>
                                        <td>@views.html.snippets.userLink(account)</td>
                                        <td class="hp-optionsMenu">
                                        @if(account.id != group.owner.id){
                                            @views.html.Group.snippets.memberOptionMenu(group, account)
                                        }
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <div class="pull-right">
                    <button type="submit" class="btn btn-warning">Speichern</button>
                    <a type="button" class="btn btn-default" href="@routes.GroupController.stream(group.id)">Abbrechen</a>
                </div>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>
}