@(group: Group, friendsToInvite: List[Account], alreadyInvitedFriends: List[Account])
@import helper._
@import models.enums._

@main("Group Invite") {

	<!-- Start infoModal -->
	 <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
	 	@views.html.Group.snippets.infoModal(group)    
	 </div>
	 <!-- Ende infoModal -->
		
	 <!-- Start confirmDeleteGroupModal -->
	 <div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog">
	 	@views.html.Group.snippets.deleteGroupModal(group)   
	 </div>
	 <!-- End confirmDeleteGroupModal -->
	 
	 <!-- Start confirmLeaveGroupModal -->
	 <div id="confirmLeaveGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.leaveGroupModal(group)
	 </div>
	 <!-- End confirmDeleteGroupModal -->

	@views.html.Group.snippets.navTabs(group)

	<div class="clear">
	<h2 class="hp-truncate">
		@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
		@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
		@if(group.groupType.equals(GroupType.course)) { <span class="glyphicon glyphicon-briefcase"></span> }
		@group.title
	</h2>
	<br />
	<br />
	
	@if(!friendsToInvite.isEmpty || !alreadyInvitedFriends.isEmpty){
		
		@form(action = routes.GroupController.inviteMember(group.id)) {

		<table class="table table-hover">
			<thead>
				<tr>
		   			<th style="width:23px">
                        <input type="checkbox" rel="tooltip" data-original-title="alles aus-, abwählen" data-container="body" onclick="toggleMediaSelection(this)">
                    </th>
					<th style="width:36px"></th>
					<th>Name</th>
					<th style="width:35px"></th>
				</tr>
			</thead>
    		<tbody id="mediaList" class="hp-optionsTable">
				@for(friend <- friendsToInvite) {	
				<tr>
					<td><input type="checkbox" name="friends[]" value="@friend.id"></td>
					<td>@views.html.snippets.userLinkAvatar(friend)</td>
					<td>@views.html.snippets.userLink(friend)</td>
					<td class="hp-optionsMenu">
                        @views.html.snippets.accountOptionMenu(friend)
					</td>
				</tr>
				}
				
				@for(friend <- alreadyInvitedFriends) {
				<tr>
					<td><input type="checkbox" disabled="disabled"></td>
					<td>@views.html.snippets.userLinkAvatar(friend)</td>
					<td>@views.html.snippets.userLink(friend)</td>
					<td class="hp-optionsMenu">
                        @views.html.snippets.accountOptionMenu(friend)
					</td>
				</tr>
				}
			</tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <input type="submit" class="btn btn-warning btn-sm" value="Freunde einladen">
                    </td>
                </tr>
            </tfoot>
		</table>

		}
		
	} else {
		<p><i>Du hast keine Freunde zum Einladen. Jetzt Freunde <b><a class="hp-focus-search">suchen</a></b>.</i></p>
	}
		
	 		
	</div>

}