@(group: Group, mediaForm: Form[Media], mediaList: List[Media])
@import helper._
@import models.enums._

@main("Group Media") {

	<!-- Start infoModal -->
	<div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
		@views.html.Group.snippets.infoModal(group)    
	</div>
	<!-- Ende infoModal -->
		
	<!-- Start confirmDeleteGroupModal -->
	<div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.deleteGroupModal(group)   
	</div>
	<!-- End confirmDeleteGroupModal -->

	<!-- Start confirmLeaveGroupModal -->
	<div id="confirmLeaveGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.leaveGroupModal(group)
	</div>
	<!-- End confirmDeleteGroupModal -->
		
	@views.html.Group.snippets.navTabs(group)
	
	<div class="clear">
		<h2 class="hp-truncate">
			@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
			@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
			@if(group.groupType.equals(GroupType.course)) { <span class="glyphicon glyphicon-briefcase"></span> }
			@group.title
		</h2>
		<br />
		<br />
	
		@if(!mediaList.isEmpty) {
				@views.html.Media.list(mediaList,models.Media.GROUP,group.id)
			} else {
		<br /><br />
		<i>Es wurden noch keine Dateien hochgeladen.</i>
			}
		<hr />
		<br />
		@if(Secured.uploadMedia(group)) {
		 	@views.html.Media.upload(mediaForm,models.Media.GROUP,group.id)
		}	
	</div>
}