@(group: Group, posts: List[Post], postForm: Form[Post], count: Integer, limit: Integer, currentPage: Integer, mediaList: List[Media], memberList: List[Account])

@import models.enums._

@main("Gruppenstream") {
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="hp-notepad-content addmargin">

                    <!-- Start infoModal -->
                <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                @views.html.Group.snippets.infoModal(group)
                </div>
                    <!-- Ende infoModal -->

                    <!-- Start confirmDeleteGroupModal -->
                <div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                @views.html.Group.snippets.deleteGroupModal(group)
                </div>
                    <!-- End confirmDeleteGroupModal -->

                    <!-- Start confirmLeaveGroupModal -->
                <div id="confirmLeaveGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                @views.html.Group.snippets.leaveGroupModal(group)
                </div>
                    <!-- End confirmDeleteGroupModal -->

                @views.html.Group.snippets.navTabs(group)

                <div class="clear">
                    <h2 class="hp-truncate">
                        @if(group.groupType.equals(GroupType.open)) {
                            <span class="glyphicon glyphicon-globe"></span>
                        }
                        @if(group.groupType.equals(GroupType.close)) {
                            <span class="glyphicon glyphicon-lock"></span>
                        }
                        @if(group.groupType.equals(GroupType.course)) {
                            <span class="glyphicon glyphicon-briefcase"></span>
                        }
                        @group.title
                    </h2>
                    <br />
                    <br />

                    @views.html.snippets.postForm(group.id, models.Post.GROUP, postForm)

                    @views.html.Group.snippets.streamRaw(group, posts, postForm, count, limit, currentPage)

                </div>
            </div>
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="hidden-xs hidden-sm">
                <div class="hp-sitenav addmargin">
                    <b><span class="glyphicon glyphicon-cog"></span> Optionen</b>
                    <hr>
                    @if(!Secured.isMemberOfGroup(group, Component.currentAccount)) {
                            <a href="@routes.GroupController.join(group.id)" role="button" class="btn btn-default btn-sm" rel="tooltip" data-original-title="Tritt der Gruppe bei" data-container="body">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span class="hidden-xs"> Beitreten</span>
                            </a>
                    }
                    @if(Secured.editGroup(group)) {
                            <a href="@routes.GroupController.edit(group.id)" role="button" class="btn btn-default btn-sm" rel="tooltip" data-original-title="Bearbeite die Gruppe" data-container="body">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs"> Bearbeiten</span>
                            </a>
                    }
                    @if(Secured.isMemberOfGroup(group, Component.currentAccount) && !Secured.isOwnerOfGroup(group, Component.currentAccount)) {
                        <a href="#confirmLeaveGroup" role="button" class="btn btn-default btn-sm" data-toggle="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="hidden-xs"> Gruppe verlassen</span>
                        </a>
                    }
                    @if(Secured.deleteGroup(group)) {
                        <a href="#confirmDeleteGroup" role="button" class="btn btn-default btn-sm" rel="tooltip" data-toggle="modal" data-original-title="Lösche die Gruppe" data-container="body">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span class="hidden-xs"> Löschen</span>
                        </a>
                    }
                </div>
                <div class="hp-sitenav">
                    <b><span class="glyphicon glyphicon-info-sign"></span> Info</b>
                    <hr>
                    <dl>
                        <dt>Gründer</dt>
                        <dd>@views.html.snippets.userLink(group.owner)</dd>
                    </dl>
                    <dl>
                        <dt>Beschreibung</dt>
                        <dd>@group.description</dd>
                    </dl>
                    <dl>
                        <dt>Erstellt am</dt>
                        <dd>@group.createdAt.format("dd.MM.yyyy")</dd>
                    </dl>
                    @if(group.groupType == GroupType.course && Secured.viewGroup(group)) {
                        <dl>
                            <dt>Token</dt>
                            <dd>@group.token</dd>
                        </dl>
                    }
                    <dl>
                        <dt>Mitglieder
                            @if(Secured.editGroup(group)) {
                                <a href="@routes.GroupController.invite(group.id)" role="button" class="hp-sitenav-button btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span> einladen
                                </a>
                            }
                        </dt>
                        @views.html.Friends.snippets.listAccountsLight(memberList)
                    </dl>
                </div>
                <div class="hp-sitenav">
                    <b><span class="glyphicon glyphicon-file"></span> Medien</b>
                    <a href="@routes.GroupController.media(group.id)" role="button" class="hp-sitenav-button btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus"></span> hinzufügen
                    </a>
                    <hr>
                    <tbody id="mediaList" class="hp-optionsTable">
                    @if(mediaList.isEmpty) {
                        <tr>
                            <td></td>
                            <td>- keine Treffer -</td>
                        </tr>
                    }
                    @for(m <- mediaList) {
                        <tr>
                            <td><a href="@routes.MediaController.view(m.id)" rel="tooltip" data-delay="500" data-original-title="von @m.owner.name">@m.title</a></td>
                            <td><small>(@{
                                MediaController.bytesToString(m.size, false)
                            })</small></td>
                        </tr>
                    }
                    </tbody>
                </div>
            </nav>
        </div>
    </div>
}
