@(group: Group, posts: List[Post], postForm: Form[Post], count: Integer, limit: Integer, currentPage: Integer)

@import models.enums._

@main("Gruppenstream") {

@views.html.Group.snippets.header(group)

<div class="row">
    <div class="col-md-12" role="main">
        <div class="addmargin">
            <div class="row">
                @defining(Component.currentAccount()) { currentUser =>
                <div class="col-md-1" role="main">
                    @if(currentUser.hasAvatar){
                    <img alt="avatar"
                         src='@routes.ProfileController.getAvatar(currentUser.id, "medium")'
                         class="hp-avatar-medium"/>
                    } else {
                    <div class="hp-avatar-medium hp-avatar-default-@currentUser.avatar">@currentUser.getInitials</div>
                    }
                </div>
                <div class="col-md-11" role="complementary">
                    <div class="hp-post-create-area">
                        @views.html.snippets.postForm(group.id, models.Post.GROUP, postForm)
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" role="main">
        <div class="row">
            @if(posts != null) {
                @for(post <- posts) {
                    @views.html.snippets.postView2(post, postForm, models.Post.GROUP, 2)
                }
            }
        </div>
    </div>
</div>
}
