@(mediaList:List[Media],folderList: List[Folder], target:String,id:Long, groupId: Long)
@import helper._
@import models._

<table class="table table-hover table-condensed">
	<thead>
       <tr>
		   <th style="width:23px">
               <input type="checkbox" rel="tooltip" data-original-title="alles aus-, abwählen" data-container="body" onclick="toggleMediaSelection(this)">
           </th>
           <th>Dateiname</th>
           <th style="width:20%">Datum</th>
           <th style="width:15%">Dateigröße</th>
           <th style="width:35px"></th>
       </tr>
	</thead>
    @form(action = routes.MediaController.multiView(target,id)) {
    <tbody id="mediaList" class="hp-optionsTable">
        @if(!mediaList.isEmpty) {
            @for(m <- mediaList) {
            <tr>
                <td><input name="selection" value="@m.id" type="checkbox"></td>
                <td><a href="@routes.MediaController.view(m.id)" rel="tooltip" data-delay="500" data-original-title="von @m.owner.name">@m.title</a></td>
                <td>@m.createdAt.format("dd.MM.yyyy")</td>
                <td>@{MediaController.bytesToString(m.size, false)}</td>
                <td class="hp-optionsMenu">
                    @views.html.Media.snippets.optionMenu(m)
                </td>
            </tr>
            }
        }
        @if(!folderList.isEmpty) {
            @for(folder <- folderList) {
            <tr>
                <td><input name="selection" value="@folder.id" type="checkbox"></td>
                <td><a href="@routes.GroupController.media(groupId, folder.id)" rel="tooltip" data-delay="500" data-original-title="von ">@folder.name</a></td>
                <td>@folder.createdAt.format("dd.MM.yyyy")</td>
                <td>Ordner</td>
                <td class="hp-optionsMenu">

                </td>
            </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
            	<input type="submit" class="btn btn-warning btn-sm" value="Auswahl herunterladen">
            </td>
        </tr>
    </tfoot>
    }
</table>
