<ul class="nav nav-tabs nav-justified">
    <li><a href="@routes.AdminController.createAccountForm">@Messages("admin.create_account")</a></li>
    <li><a href="@routes.AdminController.listAccounts">@Messages("admin.list_accounts")</a></li>
    <li><a href="@routes.AdminController.viewMediaTemp">@Messages("admin.media_temp")</a></li>
    @*<li><a href="@routes.AdminController.broadcastNotificationForm">@Messages("admin.broadcast_notification")</a></li>*@
    <li><a href="@routes.AdminController.indexing">@Messages("admin.indexing")</a></li>

</ul>