@(notifications: List[NewNotification], count: Integer, name: String)
@import helper._
@if(count > 1) {
@Messages("notification.email_notifications.collected.intro_text", name)
} else {
@Messages("notification.email_notifications.single.intro_text", name)
}

@if(notifications != null) {
@for(notification <- notifications) {
@Messages("notification.date", notification.createdAt.date.format("dd.MM.YYYY"), notification.createdAt.date.format("HH:mm"))
@notification.rendered.replaceAll("\\<[^>]*>", "")
}
}