@main("404") {
	<div class="col-lg-12" role="main">
		<img style="float: left; width: 300px;" src='@routes.Assets.at("images/Plusi/eule_unsicher.png")'>
		<div class="hp-notepad-content addmargin">
			<h2>Ups, das hätte nicht passieren dürfen.</h2><br />
			<h4>Der Fehler wurde notiert und ist beim nächsten Update hoffentlich behoben.</h4>
			<h4>Du darfst uns auch gerne direkt
				<a href="mailto:wecare@@htwplus.de">mitteilen</a>
				was du machen wolltest und was dabei schief gelaufen ist.</h4>
		</div>
	</div>
}
