@main("Hilfe") {
    <div class="row">
        <div class="col-lg-12" role="main">
            <div class="hp-notepad-content addmargin">
                <h1>
                    <strong>Hilfe</strong>
                </h1>

                <br />

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#login">
                                    <strong>An- und Abmelden</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="login" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Wie kann ich mich registrieren?</strong></u></u>
                                </p>
                                <p>Eine Registrierung ist nicht nötig. Du kannst direkt mit
                                    deinem F4-Account durchstarten.</p>

                                <p>
                                    <u><strong>Wie kann ich mich bei HTWplus anmelden?</strong></u>
                                </p>
                                <p>
                            <ol>
                                <li>Gib im Feld „<b>Matrikelnummer</b>“ deine 6-stellige
                                    HTW-Matrikelnummer mit vorangestelltem Zusatz ein. (z.B. s0123456)


                                <li>Gib im Feld „<b>Passwort</b>“ dein Fachbereich 4 Passwort
                                    ein.
                                <li>Klicke auf „<b>Anmelden</b>“
                            </ol>
                                </p>
                                <p>
                                    <u><strong>Warum kann ich mich bei HTWplus nicht
                                        anmelden?</strong></u>
                                </p>
                                <p>Falls du Probleme bei der Anmeldung hast:
                            <ol>
                                <li>Überprüfe, ob du deine Matrikelnummer korrekt eingegeben
                                    hast.
                                <li>Überprüfe, ob du dein Passwort korrekt eingegeben hast.
                                <li>Sollte trotz 1. und 2. die Anmeldung nicht erfolgreich
                                    sein, dann schreibe uns eine <b><a href="mailto:wecare@@htwplus.de?Subject=Problem mit An- bzw. Abmeldung" target="_top">E-Mail</a></b>.
                            </ol>
                                </p>
                                <p>
                                    <u><strong>Wie kann ich mich bei HTWplus abmelden?</strong></u>
                                </p>
                                <p>
                                    Klicke auf jeder beliebigen HTWplus-Seite oben rechts auf deinen
                                    Namen und wähle „<b>Logout</b>“.
                                </p>
                                <p>
                                    <u><strong>Was kann ich tun wenn ich mein Passwort
                                        vergessen habe?</strong></u>
                                </p>
                                <p>Für HTWplus wird das Passwort des Fachbereichs 4 verwendet.
                                    Solltest du dein Passwort vergessen haben, dann melde dich bitte
                                    bei den Laboringenieuren des Fachbereichs 4.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#search">
                                    <strong>Suche</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="search" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Wie funktioniert bei HTWplus die Suche?</strong></u>
                                </p>
                                <p>
                                    Du kannst im Suchfeld nach Benutzer, Gruppen und Kursen suchen. Gib
                                    hierfür ein Suchbegriff in das Suchfeld ein und klicke auf <span class="glyphicon glyphicon-search"></span>.
                                    Auf der Ergebnisseite findest du jeweils die ersten zehn
                                    Ergebnisse für Benutzer, Gruppen als auch Kurse. Wenn du nicht das
                                    findest, wonach du suchst und mehr als 10 Suchergebnisse vorhanden
                                    sind, klicke unter der Liste auf „<b>Weitere
                                    Kurse/Gruppen/Personen anzeigen</b>“.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#friends">
                                    <strong>Kontakte</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="friends" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Wie kann ich Benutzer auf HTWplus finden?</strong></u>
                                </p>
                                <p>Nachdem du dich bei HTWplus angemeldet hast, kannst du die
                                    Suche in der Navigation nutzen, um Kontakte zu finden. Gib einfach
                                    den Namen in das Suchfeld ein und klicke auf das Icon <span class="glyphicon glyphicon-search"></span>.</p>
                                <p>
                                    <u><strong>Wie kann ich Benutzer zu meiner
                                        Kontaktliste hinzufügen?</strong></u>
                                </p>
                                <p>Nachdem du den gesuchten Benutzer gefunden hast, stehen dir
                                    zwei Möglichkeiten zur Verfügung eine Kontaktanfrage zu
                                    senden.
                            <ol>
                                <li>In der Suchergebnisliste findest du rechts unter den
                                    Optionen das Icon <span class="glyphicon glyphicon-envelope"></span>. Klicke auf das Icon um eine
                                    Kontaktanfrage an den Benutzer zu senden.
                                <li>Auf dem Profil des Benutzers findest du oben rechts unter
                                    den Tabs ebenfalls das Icon <span class="glyphicon glyphicon-envelope"></span> um eine
                                    Kontaktanfrage zu senden.
                            </ol>
                                </p>
                                <p>
                                    <u><strong>Wie kann ich eine Liste meiner Kontakte
                                        sehen?</strong></u>
                                </p>
                                <p>Eine Liste aller deiner Kontakte siehst du indem du im Menü
                                    auf „Kontakte“ klickst.</p>

                                <p>
                                    <u><strong>Kann ich meinen Kontakten eine persönliche
                                        Nachricht schreiben?</strong></u>
                                </p>
                                <p>Nein. Private oder persönliche Nachrichten sind auf HTWplus
                                    nicht möglich.</p>
                                <p>
                                    <u><strong>Wie entferne ich Benutzer aus meiner
                                        Kontaktliste?</strong></u>
                                </p>
                                <p>Um einen Benutzer aus deiner Kontaktliste zu entfernen hast du zwei Möglichkeiten:
                            <ol>
                                <li>In deiner Kontaktliste findest du rechts unter den
                                    Optionen das Icon <span class="glyphicon glyphicon-remove"></span>. Klicke auf dieses Icon um den
                                    Kontakt mit dem Benutzer zu beenden.
                                <li>Auf dem Profil des Benutzers findest du oben rechts unter
                                    den Tabs ebenfalls das Icon <span class="glyphicon glyphicon-remove"></span> um den Kontakt
                                    zu beenden.
                            </ol>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#profile">
                                    <strong>Profil verwalten</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="profile" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Wo kann ich meine Profilinformationen
                                        bearbeiten?</strong></u>
                                </p>
                                <p>Um dein Profil zu bearbeiten hast du zwei Möglichkeiten.
                            <ol>
                                <li>Du kannst auf jeder beliebigen HTWplus-Seite oben rechts
                                    auf deinen Namen klicken und „<b>Mein Profil bearbeiten</b>“
                                    auswählen.
                                <li>Auf deinem Profil findest du oben rechts ein Tab mit dem
                                    Icon <span class="glyphicon glyphicon-pencil"></span> um dein Profil zu bearbeiten.
                            </ol>
                                Folgende Informationen können geändert werden:
                                <ul>
                                    <li>Email
                                    <li>Studiengang
                                    <li>Semester
                                    <li>Avatar
                                </ul>
                                Beachte bitte, dass alle Informationen öffentlich sind!
                                </p>
                                <p>
                                    <u><strong>Warum kann ich meinen Namen nicht ändern?</strong></u>
                                </p>
                                <p>HTWplus ist ein Netzwerk, in der Benutzer ihre wahren
                                    Identitäten verwenden. Alle Namen werden vom Fachbereich 4 der HTW
                                    übernommen und können nicht geändert werden. Wenn euer Name falsch
                                    angezeigt wird, kann das daran liegen, dass er im Fachbereich 4
                                    falsch abgespeichert wurde. Sollte dies der Fall sein, wende dich
                                    bitte an die Laboringenieure des Fachbereichs 4.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#newsstream"> <strong>Newsstream</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="newsstream" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Was genau ist mein Newsstream?</strong></u>
                                </p>
                                <p>Die Startseite von HTWplus stellt deinen persönlichen Newsstream
                                    dar. Er zeigt dir an, was alles um dich herum passiert. Folgende
                                    Posts kannst du auf Deinem Newsstream sehen:
                            <ul>
                                <li>Deine Newsstream-Posts
                                <li>Deine Gruppen-Posts
                                <li>Deine Kurs-Posts
                                <li>Gruppen-Posts aller Gruppenmitglieder
                                <li>Kurs-Posts aller Mitglieder
                                <li>Kontakte, die dir etwas auf den Stream schreiben
                                <li>Kontakte, die sich etwas auf den Stream schreiben
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Was ist dein öffentlicher Newsstream?</strong></u>
                                </p>
                                <p>Der öffentliche Newsstream zeigt dir, was deine Kontakte auf
                                    deinem Newsstream lesen können. Du findest ihm im Menü oben rechts
                                    wenn du auf deinen Namen klickst. Zusehen sind alle Post die auf
                                    deinem Newsstream hinterlassen werden, d.h.
                            <ul>
                                <li>Post, die du auf deinen Newsstream schreibst und
                                <li>Post, die deine Kontakte auf deinen Newsstream schreiben.
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Was siehst du alles auf dem Newsstream
                                        eines Kurses?</strong></u>
                                </p>
                                <p>Auch ein Kurs besitzt einen Newsstream. Dort kannst du
                                    Nachrichten für alle Kursmitglieder hinterlassen. Nur
                                    Kursmitglieder werden diese Nachrichten lesen können. Folgende
                                    Einträge siehst du auf der Seite:
                            <ul>
                                <li>Posts von Lehrenden auf dem Kursnewsstream
                                <li>Deine Posts auf den Kursnewsstream
                                <li>Posts anderer Kursmitglieder auf den Kursnewsstream
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Was siehst du alles auf dem Newsstream
                                        einer geschlossenen Gruppe?</strong></u>
                                </p>
                                <p>Auch eine geschlossene Gruppe besitzt einen Newsstream. Dort
                                    kannst du Nachrichten für alle Gruppenmitglieder hinterlassen. Nur
                                    Gruppenmitglieder werden diese Nachrichten lesen können.
                                    Folgende Einträge siehst du auf der Seite:
                            <ul>
                                <li>Deine Posts auf den Gruppennewsstream
                                <li>Posts anderer Gruppenmitglieder auf den Gruppennewsstream


                            </ul>
                                </p>
                                <p>
                                    <u><strong>Was siehst du alles auf dem Newsstream
                                        einer öffentlichen Gruppe?</strong></u>
                                </p>
                                <p>Auch eine öffentliche Gruppe besitzt einen Newsstream. Dort
                                    kannst du Nachrichten für alle Gruppenmitglieder hinterlassen.
                                    Neben den Gruppenmitgliedern werden diese Nachrichten
                                    auch alle anderen Benutzer, die sich diese öffentliche Gruppe
                                    ansehen, lesen können. Folgende Einträge siehst du auf der Seite:
                            <ul>
                                <li>Deine Posts auf den Gruppennewsstream
                                <li>Posts anderer Gruppenmitglieder auf dem Gruppennewsstream


                            </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#menu">
                                    <strong>Menü</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="menu" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Was kann ich über das Hauptmenü alles
                                        herausfinden?</strong></u>
                                </p>
                                <p>Mit Hilfe des Hauptmenüs kannst du auf verschiedene
                                    Informationen der Seite zugreifen.</p>
                                <p>
                                    Über das <b>Logo</b> gelangst Du auf die Startseite von HTWplus
                                    (Dein Newsstream).
                                </p>
                                <p>
                                    Unter <b>Kontakte</b> findest du alle Personen mit denen du auf
                                    HTWplus in Kontakt stehst, sowie
                                    eine Auflistung alle offenen bzw. abgelehnten
                                    Kontaktanfragen.
                                </p>
                                <p>
                                    <b>Gruppen &amp; Kurse</b> zeigt dir alle Gruppen und
                                    Kurse an, denen du beigetreten bist und die du gegründet hast,
                                    sowie alle offenen bzw. abgelehnten Gruppenanfragen.
                                </p>
                                <p>
                                    Bei den <b>Neuigkeiten</b> siehts du Meldungen darüber, was es
                                    Neues bei deinen Kontakten, Gruppen oder Kursen gibt.
                                </p>
                                <p>
                                    Zusätzlich findest du ein <b>Suchfeld</b>, mit dem du nach
                                    Benutzern, Gruppen und Kursen suchen kannst.
                                </p>
                                <p>
                                    Unter <b>deinem Namen</b> hast du die Möglichkeit deinen
                                    öffentlichen Newsstream anzusehen, dein Profil anzuzeigen und zu
                                    bearbeiten sowie dich auszuloggen.
                                </p>
                                <p>
                                    <u><strong>Was bedeutet die Zahl neben den
                                        Neuigkeiten?</strong></u>
                                </p>
                                <p>Diese Zahl stellt dar wie viele neue Posts, Kommentare,
                                    Kontaktanfragen, Dateien etc. du von einer bestimmten Gruppe,
                                    einem Kurs oder einem Benutzer hast.</p>
                                <p>
                                    <u><strong>Warum verschwindet die Zahl neben den
                                        Neuigkeiten nicht, obwohl ich sie gelesen habe?</strong></u>
                                </p>
                                <p>Neuigkeiten werden nur gelöscht, wenn du auf sie selbst oder
                                    unter „Neuigkeiten“ auf „Alle löschen“ klickst.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#postAndComment"> <strong>Posten und
                                    Kommentieren</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="postAndComment" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Was ist ein Post?</strong></u>
                                </p>
                                <p>Ein Post ist ein Beitrag zu einer Person, einer Gruppe oder
                                    einem Kurs.</p>
                                <p>
                                    <u><strong>Wie erstelle ich einen Post auf meinem
                                        eigenen Newsstream?</strong></u>
                                </p>
                                <p>Es gibt zwei Wege um auf deinem Newsstream etwas zu posten.
                            <ol>
                                <li>Klicke auf der Startseite auf das Eingabefeld „<b>Erstelle
                                    einen neuen Post ...</b>“ schreibe den gewünschten Text und klicke
                                    anschließend auf den Button „<b>Posten</b>“.
                                <li>Klicke auf deinem Namen und öffne „<b>Mein
                                    öffentlicher Newsstream</b>“. Auch hier lässt sich im Eingabefeld ein
                                    Post schreiben.
                            </ol>
                                Bei jedem Post siehst du an welchem Tag und zu welcher Uhrzeit er
                                erstellt wurde. Nur deine Kontakte können diesen Post lesen. Sie
                                können ihn auf ihrer Startseite bzw. auf deinem Newsstream sehen und
                                ihn dort auch kommentieren. Du selbst kannst deinen eigenen Post auch
                                kommentieren. Solltest du Fragen haben kannst Du die Einzelheiten
                                bei „<b>Wie kann ich einen Post kommentieren?</b>“ nachlesen.
                                Weitere Informationen darüber wer deine Post und Kommentare lesen
                                kann, erfährst du unter „<b>Privatsphäre</b>“.
                                </p>
                                <p>
                                    <u><strong>Wie erstelle ich einen Post auf einem
                                        fremden Newsstream?</strong></u>
                                </p>
                                <p>
                                    Gar nicht. Du kannst nur deinen Kontakten auf den Newsstream posten.
                                    Wie du einen Kontakt hinzufügst, findest du unter „<b>Wie kann
                                    ich Benutzer zu meiner Kontaktliste hinzufügen</b>“.
                                </p>
                                <p>
                                    <u><strong>Wie erstelle ich einen Post auf dem
                                        Newsstream eines Kontaktes?</strong></u>
                                </p>
                                <p>
                                    Gehe dazu auf das Profil deines Kontaktes. Du landest automatisch
                                    auf seinem öffentlichen Newsstream. Um einen Post zu
                                    hinterlassen klicke auf das Eingabefeld „<b>Erstelle einen
                                    neuen Post ...</b>“, schreibe deinen Text und klicke auf den
                                    Button „Posten“.
                                </p>
                                <p>
                                    <u><strong>Wie kann ich einen Post löschen, den ich
                                        selber geschrieben habe?</strong></u>
                                </p>
                                <p>Mit den folgenden Schritten kannst du deinen eigenen Post
                                    löschen:
                            <ol>
                                <li>Suche den Post, den du löschen möchtest.
                                <li>Klicke neben dem Post auf das Icon <span class="glyphicon glyphicon-trash"></span>.
                                <li>Klicke zur Bestätigung auf „Ja, löschen“.
                            </ol>
                                Beachte, dass neben dem Post auch alle Kommentare des Posts mit
                                gelöscht werden. Auf deinem eigenen Newsstream kannst Du neben
                                deinen eigenen auch alle Posts von anderen Benutzer löschen.
                                </p>
                                <p>
                                    <u><strong>Kann ich einen Post bearbeiten, den ich
                                        selber geschrieben habe?</strong></u>
                                </p>
                                <p>Nein, das geht nicht. Sollte etwas mit dem Text nicht
                                    stimmen, dann lösche den Post und schreibe ihn neu.</p>
                                <p>
                                    <u><strong>Wie kann ich einen Post kommentieren?</strong></u>
                                </p>
                                <p>
                                    Um eines Post zu kommentieren (egal ob einen eigenen oder fremden
                                    Post), musst Du unterhalb des Beitrages auf das Eingabefeld „<b>Erstelle
                                    ein Kommentar…</b>“ klicken, Dein Kommentar eingeben und diesen
                                    anschließend mit dem Button „<b>Kommentieren</b>“ bestätigen. Bei
                                    jedem Kommentar siehst du an welchem Tag und zu welcher Uhrzeit er
                                    erstellt wurde.
                                </p>
                                <p>
                                    <u><strong>Wie kann ich ein Kommentar löschen, den ich
                                        selber gepostet habe?</strong></u>
                                </p>
                                <p>Mit den folgenden Schritten kannst du dein Kommentar löschen:


                            <ol>
                                <li>Suche den eigenen erstellten Kommentar, den du löschen
                                    möchtest.
                                <li>Klicke neben dem Kommentar auf das Icon <span class="glyphicon glyphicon-trash"></span>.


                                <li>Klicke zur Bestätigung auf „Ja, löschen“.
                            </ol>
                                </p>
                                <p>
                                    <u><strong>Kann ich einen Kommentar bearbeiten, den
                                        ich selber gepostet habe?</strong></u>
                                </p>
                                <p>Man kann Kommentare nicht bearbeiten. Sollte etwas mit dem
                                    Text nicht stimmen, dann lösche den Kommentar und schreibe ihn neu.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#groupsAndCourses"> <strong>Gruppen und Kurse</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="groupsAndCourses" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Was ist bei HTWplus eine Gruppe?</strong></u>
                                </p>
                                <p>
                                    Gruppen bieten den Studierenden und Lehrenden die Möglichkeit sich
                                    über gemeinsame Interessen auszutauschen. Dies reicht von der
                                    Klausurvorbereitung bis hin zur Planung einer Weihnachtsfeier.
                                    Gruppen können von allen Benutzern erstellt werden. Es gibt
                                    öffentliche und geschlossene Gruppen. In geschlossenen Gruppen
                                    können die Inhalte nur von Mitgliedern eingesehen werden. In
                                    öffentlichen Gruppen hingegen können alle Inhalte eingesehen,
                                    jedoch ohne Beitritt keine eigenen Beiträge verfasst werden.
                                    Gruppenmitglieder müssen zuvor genehmigt werden. Eine Gruppe
                                    enthält ein Newsstream, einen Dateiupload und allgemeine
                                    Informationen. Wird ein Beitrag geschrieben oder eine Datei
                                    hochgeladen, dann erhalten alle Gruppenmitglieder diese
                                    Neuigkeiten. Weitere Informationen erhältst du unter anderem bei „<b>Was
                                    ist ein Gruppenadministrator?</b>“ und „<b>Privatsphäre</b>“.

                                </p>
                                <p>
                                <u><strong>Wie unterscheiden sich öffentliche und geschlossene Gruppen?</strong></u>
                                </p>
                                <p>
                                    Öffentliche und geschlossene Gruppen sind sich ziemlich ähnlich.
                                    Sie besitzen die gleichen Funktionalitäten. Der eigentliche
                                    Unterschied besteht in der Sichtbarkeit der Inhalte. Bei
                                    öffentlichen Gruppen können alle Inhalte angesehen und Dateien
                                    runtergeladen werden. Bei geschlossenen Gruppen hingegen stehen
                                    alle Funktionen und Inhalte erst nach dem Beitritt der Gruppe zur
                                    Verfügung. Wenn du wissen möchtest wie man einer Gruppe beitritt,
                                    findest du mehr unter „<b>Wie trete ich einer Gruppe bei?</b>“.

                                </p>
                                <p>
                                    <u><strong>Warum sollte ich einer öffentlichen Gruppe beitreten?</strong></u>
                                </p>
                                <p>
                                    Auch wenn auf den Inhalt von öffentlichen Gruppen ohne Beitritt zugegriffen werden kann,
                                    können Posts in dieser Gruppe erst als Mitglied dieser Gruppe geschrieben werden.
                                    Auch Inhalte über die globale Suche kann erst nach einem Beitritt
                                    gefunden werden.</b>.

                                </p>
                                <p>
                                    <u><strong>Was ist bei HTWplus ein Kurs?</strong></u>
                                </p>
                                <p>
                                    Kurse bieten den Studierenden und Lehrenden die Möglichkeit
                                    Kursmaterialien und Kursinformationen untereinander auszutauschen.
                                    Kurse können nur von Lehrenden erstellt und Inhalte nur nach
                                    Beitritt angesehen werden. Hierzu muss ein vom Lehrenden
                                    bereitgestellter Token eingegeben werden. Ein Kurs enthält ein
                                    Newsstream, einen Dateiupload und allgemeine Informationen. Wird
                                    ein Beitrag geschrieben oder eine Datei hochgeladen, dann erhalten
                                    alle Kursmitglieder diese Neuigkeit. Weitere Informationen erhältst
                                    Du unter anderem bei „<b>Was ist ein Kursadministrator?</b>“ und „<b>Privatsphäre</b>“.
                                </p>
                                <p>
                                    <u><strong>Wie unterscheiden sich Kurse von Gruppen?</strong></u>
                                </p>
                                <p>Ein Kurs ist im Grunde wie eine geschlossene Gruppe. Es gibt
                                    folgende Unterschiede:
                            <ul>
                                <li>Kurse können nur von Lehrenden erstellt werden
                                <li>Um einem Kurs beizutreten muss ein Token eingegeben werden


                                <li>Studierende können Dateien nur herunterladen, aber nicht
                                    hochladen.
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Wie erstelle ich eine Gruppe?</strong></u>
                                </p>
                                <p>Mit den folgenden Schritten kann eine Gruppe erstellt werden:


                            <ol>
                                <li>Klicke im Menü auf „<b>Gruppen &amp; Kurse</b>“
                                <li>Klicke oben rechts auf den Tab mit dem Icon <span class="glyphicon glyphicon-plus"></span>
                                <li>Gebe Titel, Beschreibung und Typ der Gruppe ein
                                <li>Klicke auf den Button „<b>Gruppe erstellen</b>“
                            </ol>
                                Anschließend wirst du zur Gruppe weitergeleitet.
                                </p>
                                <p>
                                    <u><strong>Wie erstelle ich einen Kurs?</strong></u>
                                </p>
                                <p>Mit den folgenden Schritten kann ein Kurs erstellt werden:
                            <ul>
                                <li>Klicke im Menü auf „<b>Gruppen &amp; Kurse</b>“
                                <li>Klicke oben rechts auf den Tab mit das Icon <span class="glyphicon glyphicon-plus"></span>
                                <li>Gebe Titel, Beschreibung, Typ und Token der Gruppe ein
                                <li><u><b>Wichtig</b></u>: Bei Typ muss hier Kurs ausgewählt
                                    werden
                                <li>Klicke auf den Button „<b>Gruppe erstellen</b>“
                            </ul>
                                Anschließend wirst du zum Kurs weitergeleitet.
                                </p>
                                <p>
                                    <u><strong>Wie trete ich einer Gruppe bei?</strong></u>
                                </p>
                                <p>Wenn du nach der Suche deine gewünschte Gruppe gefunden hast,
                                    hast du zwei Möglichkeiten einer Gruppe beizutreten:
                            <ol>
                                <li>Um Gruppen beizutreten findest du unter den Optionen auf
                                    der rechten Seite für geschlossene Gruppen das Icon <span class="glyphicon glyphicon-envelope"></span>
                                    und für öffentliche Gruppen das Icon <span class="glyphicon glyphicon-ok"></span>
                                <li>Bei den öffentlichen Gruppen hast du zusätzlich die
                                    Möglichkeit auf der Gruppenseite durch Klick auf das
                                    Icon <span class="glyphicon glyphicon-ok"></span> beizutreten.
                            </ol>
                                Bei geschlossenen Gruppen musst du warten, bis die Anfrage
                                bearbeitet wurde. Sowohl bei Annahme als auch bei Ablehnung erhältst
                                du eine Nachricht unter den Neuigkeiten.
                                </p>
                                <p>
                                    <u><strong>Wie trete ich einem Kurs bei?</strong></u>
                                </p>
                                <p>Befolge folgende Schritte um einem Kurs beizutreten:
                            <ol>
                                <li>Unter den Suchergebnissen der Kurse findest du rechts
                                    unter den Optionen das Icon <span class="glyphicon glyphicon-ok"></span> um einem Kurs
                                    beizutreten
                                <li>Nach dem Klick auf das Icon öffnet sich ein Inputfeld um
                                    den Token einzugeben
                                <li>Klicke auf den Button „<b>Senden</b>“
                            </ol>
                                </p>
                                <p>
                                    <u><strong>Wie kann ich eine Liste meiner Gruppen und
                                        Kurse sehen?</strong></u>
                                </p>
                                <p>
                                    Um eine Liste all deiner beigetretener Gruppen und Kurse zu sehen
                                    musst du im Menü auf „<b>Gruppen &amp; Kurse</b>“ gehen.
                                </p>
                                <p>
                                    <u><strong>Was ist ein Gruppenadministrator?</strong></u>
                                </p>
                                <p>Ein Gruppenadministrator ist der Benutzer, der die Gruppe
                                    erstellt hat. Neben den Funktionen die ein Gruppenmitglied benutzen
                                    kann, kann der Gruppenadministrator auch:
                            <ul>
                                <li>Die Beschreibung bearbeiten
                                <li>Unerwünschte Beiträge löschen
                                <li>Mitglieder entfernen
                                <li>Die Gruppe löschen
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Wie kann ich Beiträge von
                                        Gruppenmitgliedern entfernen?</strong></u>
                                </p>
                                <p>Wenn du Gruppenadministrator bist kannst sämtliche Beiträge
                                    löschen indem du auf das Icon <span class="glyphicon glyphicon-trash"></span> klickst und noch
                                    einmal mit „Ja, löschen“ bestätigst.</p>
                                <p>
                                    <u><strong>Wie kann ich Gruppenmitgliedern entfernen?</strong></u>
                                </p>
                                <p>Wenn Du Gruppenadministrator bist kannst Du Gruppenmitglieder
                                    löschen.
                            <ol>
                                <li>Gehe auf Gruppe bearbeiten indem du oben rechts unter den
                                    Tabs das Icon <span class="glyphicon glyphicon-pencil"></span> auswählst
                                <li>Im unteren Bereich findest du eine Liste aller
                                    Gruppenmitglieder
                                <li>Klicke auf das Icon <span class="glyphicon glyphicon-remove"></span> neben dem Namen des
                                    Mitgliedes das du aus der Gruppe entfernen willst.
                            </ol>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#misc"> <strong>Privatsphäre und
                                    Sicherheit</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="misc" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <u><strong>Was bedeutet „Öffentlich“?</strong></u>
                                </p>
                                <p>
                                    Der Begriff „<b>öffentlich</b>“ bezieht sich bei HTWplus auf zwei
                                    Funktionen:
                            <ul>
                                <li>Bei der Gruppe zeigt es, dass die Gruppe für alle Personen
                                    der Seite einzusehen ist, sowie die alle Dateien der Gruppe
                                    runtergeladen werden können.
                                <li>Zum anderen gibt es im Menü oben rechts unter deinem Namen
                                    den Punkt „<b>Dein öffentlicher Newsstream</b>“. Dieser Newsstream
                                    zeigt dir deinen Newsstream so, wie ihn deine Kontakte sehen.
                                    Öffentlich heißt nicht, dass die Beiträge alle Benutzer sehen
                                    können. In HTWplus können deine Posts nur die entsprechenden Gruppenmitglieder oder deine Kontakte lesen.
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Welche Daten werden von HTWplus
                                        gespeichert?</strong></u>
                                </p>
                                <p>
                                    Wir speichern nur das, was du in deinem Profil angibst
                                    und an Beiträgen auf der Seite verfasst.
                                </p>
                                <p>
                                    <u><strong>Was passiert mit Posts, Kommentaren und
                                        Dateien die ich wieder lösche?</strong></u>
                                </p>
                                <p>Sie werden tatsälich gelöscht. Eine Wiederherstellung ist leider nicht möglich.</p>
                                <p>
                                    <u><strong>Was passiert wenn ich einen Benutzer melde,
                                        bleibe ich anonym?</strong></u>
                                </p>
                                <p>Wenn ein Benutzer gemeldet wird, dann prüfen wir den Fall und
                                    entfernen gegebenenfalls alle Post und Kommentare die nicht dem
                                    Standard und den Richtlinien von HTWplus entsprechen. Wir werden
                                    den entsprechenden Benutzer benachrichtigen und verwarnen. Dabei
                                    werden keinerlei Informationen darüber weitergegeben, wer den
                                    Benutzer gemeldet hat.</p>
                                <p>
                                    <u><strong>Was kann ich machen, wenn ich unerwünschte
                                        Nachrichten bekomme?</strong></u>
                                </p>
                                <p>Wenn Du unerwünschte Nachrichten erhältst, hast du folgende
                                    Möglichkeiten:
                            <ul>
                                <li>Du kannst auf deinem Newsstream Nachrichten nur bekommen,
                                    wenn du mit dem Benutzer in Kontakt stehst. Solltest du unerwünschte
                                    Nachrichten bekommen, dann lösche diese Person aus deiner
                                    Kontaktliste.
                                <li>In geschlossenen Gruppen und Kursen verhält es sich wie mit dem
                                    Newsstream. Solltest du als Gruppenadministrator unerwünschte
                                    Nachrichten bekommen dann entferne die Posts vom Newsstream und
                                    den Benutzer aus der Mitgliederliste der Gruppe. Sollte der
                                    Benutzer eine neue Anfrage senden, dann kannst du sie einfach
                                    ablehnen.
                                <li>Solltest Du kein Gruppenadministrator sein, dann bitten
                                    wir dich diesen über die unerwünschten Nachrichten zu informieren.


                                <li>Auch bei öffentlichen Gruppen hast du die Möglichkeit die
                                    Posts und den Benutzer als Gruppenadministrator zu löschen bzw.
                                    den Gruppenadministrator zu informieren.
                                <li>Sollten die oben genannten Möglichkeiten nicht
                                    funktionieren, kannst du dich auch <b><a href="mailto:wecare@@htwplus.de?Subject=Spam" target="_top">bei uns melden</a></b>.
                            </ul>
                                </p>
                                <p>
                                    <u><strong>Wie kann ich meine eigene Sicherheit
                                        gewährleisten?</strong></u>
                                </p>
                                <p>Folgende Maßnahmen solltest du für deine eigene Sicherheit
                                    beachten:
                            <ul>
                                <li>Gebe dein Passwort nicht an andere Personen weiter
                                <li>Nimm nur Kontaktanfragen von Personen an, die du auch
                                    kennst
                                <li>Nimm nur Gruppenanfragen von Personen an, die du in deiner
                                    Gruppe haben möchtest
                                <li>Teile den Token für Kurse nur berechtigten Personen mit
                                <li>Stelle vor dem Senden sicher, dass der Inhalt deiner Posts
                                    weder anstößig, beleidigend, rassistisch noch menschenunwürdig
                                    ist.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}