<!DOCTYPE html>
<html lang="de">

<head>
    <title>HTWplus</title>
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/htwplus.css")'>
    <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/bootstrap-prettyfile.css")'>
    <link id="dynamic-favicon" rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.ico")'>
    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body id="hp-landingpage">
    <div class="container-fluid">

        <div id="hp-login" class="row">
            <div class="col-xs-12">
                <div id="hp-login-left" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <div class="hp-logo">
                        <img src='@routes.Assets.at("images/logos/logo-white.svg")'/>
                    </div>
                    <div id="hp-description">
                        Das soziale Netzwerk für<br />deine Hochschule!
                    </div>
                </div>
                <div id="hp-login-right" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                    @controllers.Component.loginForm()
                </div>
            </div>
        </div>

        <div id="hp-navbar" class="row navbar navbar-default">
            <div class="hp-navbar-container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="hp-nav nav navbar-nav">
                        <li data-scrollspy-target="hp-about"><a href='javascript:scrollTo("#hp-about");'>Über HTWplus</a></li>
                        <li data-scrollspy-target="hp-features"><a href='javascript:scrollTo("#hp-features");'>Funktionen</a></li>
                        <li data-scrollspy-target="hp-team"><a href='javascript:scrollTo("#hp-team");'>Das Team</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="hp-about" class="hp-section row">
            <div class="col-xs-12">
                <h2 id="about">Über</h2>
            </div>
        </div>

        <div id="hp-features" class="hp-section row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                <!-- Login -->
                @views.html.snippets.feature("Anmeldung",
                    "Legt sofort los und nutzt alle Vorteil von HTWplus! Als Studierender oder Mitarbeiter der HTW-Berlin hast du die Möglichkeit, dich direkt ganz bequem mit deinem Hochschul-Account anzumelden.") {
                <h3>Hello World!</h3>
                }

                <!-- Profile -->
                @views.html.snippets.feature("Profil",
                    "Nach der ersten Anmeldung wird automatisch dein ganz persönliches Profil angelegt und bereits durch deinen Vor- und Nachname ergänzt. Natürlich kannst du anschließend dein Profil auch bearbeiten und beispielsweise eine E-Mail Adresse hinterlegen oder einen anderes Profilbild festlegen.") {
                <h2>Max Mustermann</h2>
                <br>
                <img alt="avatar" src="/assets/images/avatars/a11.png" class="img-thumbnail">
                <br>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:30%;">E-Mail</th>
                            <td style="width:70%;">max@@mustermann.de</td>
                        </tr>
                        <tr>
                            <th>Studiengang</th>
                            <td>Angewandte Informatik</td>
                        </tr>
                        <tr>
                            <th>Semester</th>
                            <td>1. Semester</td>
                        </tr>
                        <tr>
                            <th>Abschluss</th>
                            <td>Bachelor</td>
                        </tr>
                        <tr>
                            <th>Rolle</th>
                            <td>Student</td>
                        </tr>
                    </tbody>
                </table>
                }

                <!-- Newsstream -->
                @views.html.snippets.feature("Newsstream",
                    "Die erste Anlaufstelle ist dein persönlicher Newsstream. Wie üblich erfolgt die Kommunikation bei HTWplus über Posts und dazugehörige Kommentare. Auf deinem Newsstream kannst du nun Posts zu Themen verfassen, die dich vielleicht aktuell bewegen. Diese können anschließend von anderen HTWplus Nutzern gelsesen und kommentiert werden.  Weiterhin werden dir auf deinem Newsstream unter anderem neue Posts und Kommentare aus Gruppen und Kursen angezeigt, in denen du Mitglied bist.") {
                <h1>Mein Newsstream</h1><br>

                <form action="" method="" class="hp-post-form" id="addPost">
                    <div class="hp-horizontal-form col-xs-12">
                        <div class="input-group">
                            <dl class=" " id="hp-new-post-content_field">
                                <dt><label for="hp-new-post-content">Content</label></dt>
                                <dd><textarea id="hp-new-post-content" name="Content" class="form-control" placeholder="Erstelle einen neuen Post..."></textarea></dd>
                            </dl>
                            <span class="input-group-btn">
                                <button type="button" href="javascript:;" class="btn btn-warning">Posten</button>
                            </span>
                        </div>
                    </div>
                </form>
                <br>

                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="javascript:;"><img alt="avatar" src="/assets/images/avatars/a11.png" class="hp-avatar"></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="javascript:;" data-placement="top" data-original-title="Max Mustermann" data-content="Rolle: Student" data-delay="500" data-trigger="hover" data-html="true" rel="popover">
                                    Max Mustermann</a>
                                schrieb in <a href="javascript:;">Immatrikulationsfeier</a>
                                <a href="javascript:;" data-toggle="modal" rel="tooltip" data-original-title="Post löschen">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </h4>
                            <small>01.04.2014 13:37</small>
                        </div>
                    </div>
                    <br>
                    <div class="hp-truncate hp-white-space">Thema WebSockets &amp; Apache 2.2</div>
                    <hr>
                    <div class="hp-comments">
                        <div class="media">
                            <a class="pull-left" href="javascript:;">
                                <img alt="avatar" src="/assets/images/avatars/a22.png" class="hp-avatar">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <a href="javascript:;" data-placement="top" data-original-title="Kevin Bernum" data-content="Rolle: Student <br /> Studiengang: Angewandte Informatik" data-delay="500" data-trigger="hover" data-html="true" rel="popover">
                                        Kevin Bernum</a>
                                    <small>(01.04.2014 13:38)</small>
                                    <a href="javascript:;" data-toggle="modal" rel="tooltip" data-original-title="Post löschen">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </h5>
                                <div class="hp-truncate hp-white-space" id="6952">Geil...wiedermal super Einsatz! :-)</div>
                            </div>
                        </div>

                        <form action="" method="" class="hp-comment-form">
                            <div class="hp-horizontal-form col-xs-12">
                                <div class="input-group">
                                    <dl class=" " id="hp-new-comment-content_field">
                                        <dt><label for="hp-new-comment-content">Content</label></dt>
                                        <dd>
                                            <textarea id="hp-new-comment-content" name="Content" class="form-control" placeholder="Erstelle ein Kommentar..."></textarea>
                                        </dd>
                                    </dl>
                                    <span class="input-group-btn">
                                        <button type="button" href="javascript:;" class="btn btn-sm btn-warning commentSubmit">Kommentieren</button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="clear"></div>
                </div>
                }

                <!-- Groups -->
                @views.html.snippets.feature("Gruppen",
                    "Koordiniert und organisiert eure Arbeiten an Gemeinschaftsprojekten oder bereitet euch kollektiv auf Vorlesungen, Übungen und Klausuren vor. In HTWplus hat dazu jeder die Möglichkeit, private und öffentliche Gruppen zu erstellen oder bestehenden beizutreten und sich an Gesprächen oder Diskussionen zu beteiligen.") {
                <h3>Hello World!</h3>
                }

                <!-- Courses -->
                @views.html.snippets.feature("Kurse",
                    "Mitarbeiter bzw. Dozenten können zusätzlich Kurse erstellen und darüber teilnehmende Studierende beispielsweise über organisatorische Aspekte ihrer Vorlesungen informieren. Beim Anlegen wird ein sogenannter Token festgelegt, der benötigt wird, um an bestehenden Kursen teilzunehmen.") {
                <h3>Hello World!</h3>
                }

                <!-- File management -->
                @views.html.snippets.feature("Dateiverwaltung",
                    "Sowohl in euren beigetretenen Gruppen als auch Kursen könnt ihr Dateien hochlanden und somit anderen Mitgliedern zur Verfügung stellen. Damit lassen sich beliebige Dokumente wie Vorlesungsskripte oder Notizen bequem verteilen, ohne auf andere Dienste angewiesen zu sein.") {
                <h3>Hello World!</h3>
                }

                <!-- Friends -->
                @views.html.snippets.feature("Freunde",
                    "Wie es sich für ein soziales Netzwerk gehört, kannst du auch bei HTWplus Bekanntschaft mit Kommilitonen aber auch Dozenten schließen. So ist es euch möglich, gegenseitig eure Newsstreams zu lesen, Gruppeneinladungen auszusprechen und vieles mehr.") {
                <h3>Hello World!</h3>
                }

                <!-- Notifications -->
                @views.html.snippets.feature("Benachrichtigungen",
                    "Damit entgeht dir nichts, was bei HTWplus passiert! Ob neue Posts, Kommentare, Freundschaftsanfragen oder Gruppeneinladungen - du wirst über alles informiert. Je nach Wunsch kannst du dich auch per E-Mail über Neuigkeiten automatisch benachrichtigen lassen.") {
                <h3>Hello World!</h3>
                }

            </div>
        </div>

        <div id="hp-team" class="hp-section row">
            <div class="col-xs-12">
                <h2 id="team">Team</h2>
            </div>
        </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.linkify.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/htwplus.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/landingpage.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-prettyfile.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrollspy.js")'></script>

</body>

</html>