@(loginName: String)

<!DOCTYPE html>
<html lang="de">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>HTWplus</title>
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/htwplus.css")'>
        <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/bootstrap-prettyfile.css")'>
        <link id="dynamic-favicon" rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    </head>

    <body id="hp-landingpage">
        <div class="container-fluid">

            <div id="hp-login" class="row" data-scrollspy-name="hp-login">
                <div class="col-xs-12">
                    <div id="hp-login-left" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
                        <div class="hp-landing-logo">
                            <img src='@routes.Assets.at("images/logos/logo-white.svg")'/>
                        </div>
                            <!--
                    <div id="hp-description">
                        Das soziale Netzwerk für<br />deine Hochschule!
                    </div>
                    -->
                    </div>
                    <div id="hp-login-right" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                        <img id="hp-plusi" src='@routes.Assets.at("images/Plusi/eule_froh.png")'>
                        <h2>Anmelden</h2>

                        @helper.form(routes.AccountController.login) {
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="loginName" name="loginName" placeholder="Matrikelnummer (z.B.: s0123456)" value="@loginName">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" id="loginPassword" name="loginPassword" placeholder="Dein HTW Passwort (LSF)">
                        </div>
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" name="rememberMe" value="1"> Angemeldet bleiben
                            </label>
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg pull-right">Anmelden</button>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        @if(flash.containsKey("success")) {
                            <div class="alert alert-success fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("success")
                            </div>
                        }
                        @if(flash.containsKey("info")) {
                            <div class="alert alert-info fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("info")
                            </div>
                        }
                        @if(flash.containsKey("error")) {
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("error")
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id="hp-navbar" class="row navbar navbar-default">
                <div class="hp-navbar-container">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="hp-nav nav navbar-nav">
                            <li data-scrollspy-target="hp-login">
                                <a href='javascript:scrollToElement("#hp-login");'>
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                    @Messages("landingpage.to_login")
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <!-- content wrapper -->
            <div class="container">

                <div id="hp-about" class="hp-section row" data-scrollspy-name="hp-about">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="hp-circle">
                            <img id="hp-plusi" src='@routes.Assets.at("images/Plusi/eule_unsicher.png")'>
                        </div>
                        <h1>@Messages("landingpage.about.title")</h1>
                        <br>
                        <p>@Messages("landingpage.about.description")</p>
                    </div>
                </div>

                <div id="hp-features-trigger"></div>
                <div id="hp-features" class="hp-section row" data-scrollspy-name="hp-features">

                    <!-- feature descriptions -->
                    <div class="col-md-12">

                        <!-- Login -->
                        <div id="hp-feature-text-login" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-log-in"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.login.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.login.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Friends -->
                        <div id="hp-feature-text-friends" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-user"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.friends.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.friends.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Groups -->
                        <div id="hp-feature-text-groups" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-globe"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.groups.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.groups.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Courses -->
                        <div id="hp-feature-text-courses" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-briefcase"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.courses.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.courses.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- File management -->
                        <div id="hp-feature-text-filemgmt" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-file"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.filemgmt.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.filemgmt.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Newsstream -->
                        <div id="hp-feature-text-newsstream" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-time"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.newsstream.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.newsstream.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Notifications -->
                        <div id="hp-feature-text-notifications" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-bell"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.notifications.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.notifications.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                        <!-- Notifications -->
                        <div id="hp-feature-text-notifications" class="min-235 col-xs-12 col-sm-6 col-md-4">
                            <div class="hp-feature-icon"><span class="glyphicon glyphicon-education"></span></div>
                            <table><tr><td>
                                <h1 class="hp-feature-title">@Messages("landingpage.features.education.title")</h1>
                            </td>
                            </tr> <tr><td>
                                <h4 class="hp-feature-description">@Messages("landingpage.features.education.description")</h4>
                            </td>
                            </tr>
                            </table>
                        </div>

                    </div>
                </div>

            </div> <!-- end content wrapper -->

        </div> <!-- /container -->
        <br />
        <br />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
                        <div id="hp-footer">
                            <div id="hp-footer-links">
                                <a href="@routes.Application.index()" data-toggle="modal">Home</a> |
                                <a href="@routes.Application.imprint()">Impressum</a> |
                                <a href="@routes.Application.privacy()">Datenschutz</a> |
                                <a href="mailto:kontakt@@htwplus.de?Subject=Anfrage" target="_top">Kontakt</a> |
                                <a href="@routes.Application.help()">Hilfe</a>
                            </div>
                            <div id="hp-footer-logo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script type="text/javascript" src='@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bower_components/jQuery-linkify/linkify.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bower_components/jquery-scrollspy/jquery-scrollspy.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bower_components/gsap/src/minified/TweenMax.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bower_components/ScrollMagic/scrollmagic/minified/ScrollMagic.min.js")'></script>

        <script type="text/javascript" src='@routes.Assets.at("javascripts/landingpage.js")'></script>

    </body>

</html>
