@(count: Integer, limit: Integer, currentPage: Integer, route: String, et: String, addRawLink: Boolean = false)
@import controllers.Navigation

<div class="hp-pagination">
	<ul class="pagination">
	
	@defining(Navigation.calcPagination(count, limit, currentPage)) { nav =>

        @for(p <- nav.get("pages").asInstanceOf[List[Integer]]) {
            @if(currentPage+1 == p) {<li><a class="nextPage" href="@{route + et+"page=" + p}" @if(addRawLink) {data-raw-page-link="@{route + et + "page=" + p + "&raw=true"}"}>Next Page</a></li>}
        }

        <noscript>
            @if(currentPage != 1) {
                <li><a href="@{route + et+"page=" + (currentPage-1).toString}"><<</a></li>
            }


            @if(nav.get("first") == true) {
                <li><a class="@if(currentPage == 1) {active}" href="@{route}">1</a></li>
                @if(nav.get("firstDots") == true) {
                    <li><a href="#">...</a></li>
                }
            }

            @for(p <- nav.get("pages").asInstanceOf[List[Integer]]) {
                <li><a class="@if(currentPage == p) {active}" href="@{route + et+"page=" + p}">@p</a></li>
            }

            @if(nav.get("last") == true) {
                @if(nav.get("lastDots") == true) {
                            <li><a href="#">...</a></li>
                }
                <li><a class="@if(currentPage == nav.get("lastPage")) {active}" href="@{route + et+"page=" + (nav.get("lastPage").asInstanceOf[Integer])}">@nav.get("lastPage")</a></li>
            }

            @if(currentPage != nav.get("lastPage")) {
                <li><a href="@{route + et+"page=" + (currentPage+1).toString}">&gt;&gt;</a></li>
            }
        </noscript>
	}

	</ul>
</div>