@(keyword: String, users: List[Account], groups: List[Group], courses: List[Group], posts: List[Post], postForm: Form[Post])
@import helper._
@import play._
@main("Searchresult"){

	<h1>Suchergebnisse für '@truncate(keyword,30)'</h1>
	<br />
    @views.html.snippets.listAccounts(users)
    <br />
    @views.html.Group.snippets.listGroups(groups, Component.currentAccount)
    <br />
    @views.html.Group.snippets.listCourses(courses, Component.currentAccount)
    <br />
    @if(posts != null) {
        <hr/>
        <h4>Posts und Kommentare:</h4>
        @if(posts.isEmpty) {
            - keine Treffer -
        }
        @for(post <- posts) {
            @views.html.snippets.postView(post, postForm, models.Post.STREAM, Play.application().configuration().getInt("htwplus.comments.init"))
        }
    <br />
    }

} 
