@(groups: List[Group], courses: List[Group], users: List[Account], keyword: String, courseCount: Integer, groupCount: Integer, accountCount: Integer, limit: Integer, currentPage: Integer)
@import helper._
@import models.enums._

@main("Searchresult"){

	<h1>Suchergebnis für '@truncate(keyword,30)'</h1>
	<br />

	@defining(Component.currentAccount()) { user =>
	
		@if(courses != null && courses.size != 0) {
		
			<!-- Start confirmDeleteCourseModal -->
			@for(course <- courses) {
				<div class="modal fade" id="confirmDeleteGroup@course.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
					@views.html.Group.snippets.deleteGroupModal(course)
				</div>
			}
			<!-- End confirmDeleteCourseModal -->
			
			<!-- Start infoModal -->
			@for(course <- courses) {
			<div class="modal fade" id="infoModal@course.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.infoModal(course)
			</div>
			}
			<!-- Ende infoModal -->
			
			<!-- Start confirmLeaveCourseModal -->
			@for(course <- courses) {
			<div class="modal fade" id="confirmLeaveGroup@course.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.leaveGroupModal(course)
			</div>
			}
			<!-- End confirmDeleteCourseModal -->
			
			
			<!-- list all found courses -->
			@views.html.Group.snippets.listCourses(courses, user)
			@if(courseCount > 10 && keyword != null && groups != null && users != null){
				<h4><a href="@routes.Application.searchForCourses(keyword)">Weitere Kurse (@{courseCount - limit}) anzeigen</a></h4><br />
			} 
			@if(groups == null && users == null){
				@views.html.pagination(courseCount, limit, currentPage, routes.Application.searchForCourses(keyword).toString, "&")
			}
			
		}
		
		@if(groups != null && groups.size != 0) {
			
			<!-- Start confirmDeleteGroupModal -->
			@for(group <- groups) {
				<div class="modal fade" id="confirmDeleteGroup@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
					@views.html.Group.snippets.deleteGroupModal(group)
				</div>
			}
			<!-- End confirmDeleteGroupModal -->
			
			<!-- Start infoModal -->
			@for(group <- groups) {
			<div class="modal fade" id="infoModal@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.infoModal(group)
			</div>
			}
			<!-- Ende infoModal -->
			
			<!-- Start confirmLeaveGroupModal -->
			@for(group <- groups) {
			<div class="modal fade" id="confirmLeaveGroup@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.leaveGroupModal(group)
			</div>
			}
			<!-- End confirmDeleteGroupModal -->
			
			
			<!-- list all found groups -->
			@views.html.Group.snippets.listGroups(groups, user)
			@if(groupCount > 10 && keyword != null && courses != null && users != null){
				<h4><a href="@routes.Application.searchForGroups(keyword)">Weitere Gruppen (@{groupCount - limit}) anzeigen</a></h4><br />
			}
			@if(courses == null && users == null){
				@views.html.pagination(groupCount, limit, currentPage, routes.Application.searchForGroups(keyword).toString, "&")
			}
			
			
		}
		
		@if(users != null && users.size != 0) {
			
			<!-- list all found persons -->
			@views.html.snippets.listAccounts(users)
			@if(accountCount > 10 && keyword != null && courses != null && groups != null){
				<h4><a href="@routes.Application.searchForAccounts(keyword)">Weitere Personen (@{accountCount - limit}) anzeigen</a></h4><br />
			}
			@if(courses == null && groups == null){
				@views.html.pagination(accountCount, limit, currentPage, routes.Application.searchForAccounts(keyword).toString, "&")
			}
		}
		
		@if(courses != null && groups != null && users != null){
			@if(courses.size == 0 && groups.size == 0 && users.size == 0) {
		
				<h4><i>Uff, ne. <br />Ich habe mich ja bemüht, aber irgendwie konnte ich nichts finden :-/</i></h4>
			}
		}
	
	}
} 
