@main("Suche"){
        <h2>Suche:</h2>
	<br />
    <div id="hp-search-home">
        <form class="hp-search-form navbar-form" role="search" action="@routes.Application.search(1)" method="GET">
            <div class="form-group">
                <input id="autocomplete" class="form-control hp-easy-search" rel="tooltip" data-placement="bottom" type="text" placeholder="EasySearch" name="keyword">
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>

} 
