@(cleanedUri: String, studycourse: String, degree: String, semester: String, role: String, keyword: String, searchMode: String, currentPage: Int, searchLimit: Int, searchResults: List[Object], resultsHits: Long, searchDuration: Long, searchHits: Long, searchUserHits: Long, searchGroupHits: Long, searchPostHits: Long, studycoursesMap: Map[String, Long], degreeMap: Map[String, Long], semesterMap: Map[String, Long], roleMap: Map[String, Long])
@import helper._
@import play._
@import models.enums._
@main(keyword){
@defining(Component.currentAccount()) { currentUser =>

    <h2>@resultsHits @Html(Messages("search.headline", truncate(keyword,30)))</h2>
    @ctx.args.put("searchKeyword", keyword)
    <br />

    @if(searchHits != 0) {

        @if(searchMode.equals("all")){ <span class="glyphicon glyphicon-chevron-right"></span> }
        <a class="@if(searchHits == 0) {disabled}" href='/search?keyword=@keyword&mode=all'>Alles (@searchHits)</a><br />
        @if(searchMode.equals("user")){ <span class="glyphicon glyphicon-chevron-right"></span> }
        <a class="@if(searchUserHits == 0) {disabled}" href='/search?keyword=@keyword&mode=user'>Personen (@searchUserHits)</a><br />
        @if(searchMode.equals("user")){
        <br />
            @for((key, value) <- studycoursesMap) {
                @if(!key.equals("")) {
                    <a href='/search?keyword=@keyword&mode=@searchMode@if(degree != null){&degree=@degree}@if(semester != null){&semester=@semester}@if(role != null){&role=@role}&studycourse=@key'>@key (@value)</a> <br />
                }
            }
            <br />
            @for((key, value) <- degreeMap) {
                @if(!key.equals("")) {
                    <a href='/search?keyword=@keyword&mode=@searchMode@if(studycourse != null){&studycourse=@studycourse}@if(semester != null){&semester=@semester}@if(role != null){&role=@role}&degree=@key'>@key (@value)</a> <br />
                }
            }
            <br />
            @for((key, value) <- semesterMap) {
                <a href='/search?keyword=@keyword&mode=@searchMode@if(degree != null){&degree=@degree}@if(studycourse != null){&studycourse=@studycourse}@if(role != null){&role=@role}&semester=@key'>@key (@value)</a> <br />
            }
            <br />
            @for((key, value) <- roleMap) {
                <a href='/search?keyword=@keyword&mode=@searchMode@if(degree != null){&degree=@degree}@if(semester != null){&semester=@semester}@if(studycourse != null){&studycourse=@studycourse}&role=@key'>@key (@value)</a> <br />
            }
        }
        @if(searchMode.equals("group")){ <span class="glyphicon glyphicon-chevron-right"></span> }
        <a class="@if(searchGroupHits == 0) {disabled}" href='/search?keyword=@keyword&mode=group'>Gruppen und Kurse (@searchGroupHits)</a><br />
        @if(searchMode.equals("post")){  <span class="glyphicon glyphicon-chevron-right"></span> }
        <a class="@if(searchPostHits == 0) {disabled}" href='/search?keyword=@keyword&mode=post'>Post und Kommentare (@searchPostHits)</a>
        <br />
        <br />

        @for(result <- searchResults) {

            @result match {
                case account: Account => {
                    @if(searchMode.equals("user") || searchMode.equals("all")) {
                        <div class="well searchresult-container">
                            <div class="account-result media">
                                @views.html.snippets.userLinkAvatar(account)
                                <div class="media-body">
                                    <div class="media-heading">
                                        @views.html.snippets.userLink(account)
                                    </div>
                                    <small>
                                        @if(Friendship.alreadyFriendly(currentUser, account)) {
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> Ihr seid bereits befreundet.</span>
                                        } else {
                                            <span>Mit dieser Person bist du noch nicht befreundet.</span>
                                        }
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                }

                case group: Group => {
                    @if(searchMode.equals("group") || searchMode.equals("all")) {
                        <div class="well searchresult-container">
                            <div class="group-result">
                                @if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
                                @if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
                                @if(group.groupType.equals(GroupType.course)) { <span class="glyphicon glyphicon-briefcase"></span> }
                                <a href="@routes.GroupController.view(group.id)"><b>@group.title</b></a>
                                @if(Secured.isMemberOfGroup(group, currentUser)) { <span class="glyphicon glyphicon-ok"></span> }
                            </div>
                        </div>
                    }
                }

                case post: Post => {
                    @if(searchMode.equals("post") || searchMode.equals("all")) {
                        <div class="well searchresult-container">
                            <div class="post-result media">
                                @views.html.snippets.userLinkAvatar(post.owner)
                                <div class="media-body">
                                    <div class="media-heading">
                                        @views.html.snippets.userLink(post.owner)
                                        @if(post.belongsToGroup){schrieb einen <a href="@routes.PostController.view(post.id)">Post</a> in <a href="@routes.GroupController.stream(post.group.id)">@truncate(post.group.title,50)</a>}
                                        @if(post.belongsToPost){schrieb ein Kommentar zu einem <a href="@routes.PostController.view(post.parent.id)">Post</a>}
                                        @if(post.belongsToAccount && currentUser != post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(post.account)}
                                        @if(post.belongsToAccount && currentUser == post.account && post.account != post.owner){&rarr; @views.html.snippets.userLink(currentUser)}
                                        <small>am @post.createdAt.format("dd.MM.yyyy HH:mm")</small>
                                    </div>

                                </div>
                                <div class="hp-truncate hp-white-space" id="@post.id">@Html(post.searchContent)</div>
                            </div>
                        </div>
                    }
                }

                case _ => { @result }
            }
        }
    @views.html.pagination(resultsHits.toInt, searchLimit, currentPage, cleanedUri, "&")
    }
}
}