@(currentUser: Account, posts:List[Post], postForm: Form[Post], count: Integer, limit: Integer, currentPage: Integer)

@import play._

@main("Newsstream") {
    <br />
	@views.html.snippets.postForm(currentUser.id, models.Post.STREAM, postForm)

	@if(posts != null) {
		@for(post <- posts) {
			@views.html.snippets.postView(post, postForm, models.Post.STREAM, Play.application().configuration().getInt("htwplus.comments.init"))
		}
	}
	
	@views.html.pagination(count, limit, currentPage, routes.Application.stream(1).toString, "?")
}