@(currentUser: Account, posts:List[Post], postForm: Form[Post], count: Integer, limit: Integer, currentPage: Integer, filter: String)
@import play._

@main("Newsstream") {

@***
<div class="row">
    <div class="col-md-12" role="main">
        <div class="hp-notepad-content">
            <br/>
            @views.html.snippets.postForm(currentUser.id, models.Post.STREAM, postForm)

            @views.html.snippets.streamRaw(posts, postForm, count, limit, currentPage, filter)
        </div>
    </div>
</div>
***@

<div class="row">
    <div class="col-md-10" role="main">
        <div class="addmargin">
            <div class="row">
                <div class="col-md-1" role="main">
                    @if(currentUser.hasAvatar){
                        <img alt="avatar"
                             src='@routes.ProfileController.getAvatar(currentUser.id, "medium")'
                             class="hp-avatar-medium hidden-xs hidden-sm"/>
                    } else {
                    <div class="hidden-xs hidden-sm hp-avatar-medium hp-avatar-default-@currentUser.avatar">@currentUser.getInitials</div>
                    }
                </div>
                <div class="col-md-11" role="complementary">
                    <div class="hp-post-create-area">
                        @views.html.snippets.postForm(currentUser.id, models.Post.STREAM, postForm)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 visible-xs visible-sm hp-feed-filter">
        <!-- Single button -->
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-filter"></span> Filter: @Navigation.getTitle() <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href='@routes.Application.index()'>Alles</a></li>
                <li><a href='@routes.Application.stream("account")'>Eigene Posts</a></li>
                <li><a href='@routes.Application.stream("bookmark")'>Gemerkte Posts</a></li>
                <li><a href='@routes.Application.stream("group")'>Gruppen</a></li>
                <li><a href='@routes.Application.stream("contact")'>Kontakte</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10" role="main">
        @if(posts.size != 0){
        <div class="row hp-pagination-container">
            @views.html.snippets.streamRaw(posts, postForm, count, limit, currentPage, filter)
        </div>
        } else {
        <div class="hp-content-placeholder addmargin">
            <h2><i>Hier gibts leider noch nichts.</i></h2>
            @if(filter.equals("account")) {
            <h3><i>Wie wäre es mit deinem ersten Newsstream-Beitrag?</i></a></h3>
            }
            @if(filter.equals("group")) {
            <h3><i>Wie wäre es mit neuen <a href="/search?keyword=&mode=group">Gruppen</a> oder <a href="/search?keyword=&mode=group&grouptype=course">Kursen</a>?</i></h3>
            }
            @if(filter.equals("contact")) {
            <h3><i>Wie wäre es mit neuen <a href="/search?keyword=&mode=user">Kontakten</a>?</i></a></h3>
            }
            @if(filter.equals("bookmark")) {
            <h3><i>Wussest du, dass du dir wichtige Beiträge merken kannst?</i></h3>
            }
            @if(filter.equals("all")) {
            <h3><i>Wie wäre es mit neuen neuen <a href="/search?keyword=&mode=user">Kontakten</a>, <a href="/search?keyword=&mode=group">Gruppen</a> oder <a href="/search?keyword=&mode=group&grouptype=course">Kursen</a></i></h3>
            <br />
            <h4><i>Alternativ kannst du auch anfangen etwas auf deinen Stream zu schreiben.</i></h4>
            }
        </div>
        }
    </div>
    <div class="col-md-2 visible-md visible-lg" role="complementary">
        <div class="hp-newsfeed-sitenav">
            <a href='@routes.Application.index()' class='@if(filter.equals("all")) {active}'>Alles</a>
            <a href='@routes.Application.stream("account")' class='@if(filter.equals("account")) {active}'>Eigene Posts</a>
            <a href='@routes.Application.stream("bookmark")' class='@if(filter.equals("bookmark")) {active}'>Gemerkte Posts</a>
            <a href='@routes.Application.stream("group")' class='@if(filter.equals("group")) {active}'>Gruppen</a>
            <a href='@routes.Application.stream("contact")' class='@if(filter.equals("contact")) {active}'>Kontakte</a>
        </div>
    </div>
</div>

</div>
}