@(profile: Account, profileForm: Form[Account])
@import helper._
@import models._

@main("Editieren") {
    <div class="row">
        <div class="col-lg-12" role="main">
            <div class="hp-notepad-content addmargin">
                <h2>Passwort bearbeiten</h2>
                <br>
                @form(routes.ProfileController.updatePassword(profile.id)) {
                    @inputPassword(
                        profileForm("oldPassword"),
                        '_label -> "Altes Passwort",
                        '_error -> profileForm.error("oldPassword")
                    )
                    @inputPassword(
                        profileForm("password"),
                        '_label -> "Neues Passwort",
                        '_error -> profileForm.error("password")
                    )
                    @inputPassword(
                        profileForm("repeatPassword"),
                        '_label -> "Wiederholung",
                        '_error -> profileForm.error("repeatPassword")
                    )
                    <button class="btn btn-success">Speichern</button>
                }
            </div>
        </div>
    </div>
}