@(profile: Account, profileForm: Form[Account], loginForm: Form[Login], studycourses: List[Studycourse])
@import helper._
@import models._

@implicitField = @{ FieldConstructor(bootstrapFieldConstructor.f) }

@main("Editieren") {

@views.html.Profile.snippets.header(profile)

    <div class="row">
        <div class="col-lg-12" role="main">
            <div class="hp-notepad-content addmargin">

                @views.html.Profile.snippets.deleteModal(profile, loginForm)

                <br>

            <div id="hp-avatar-upload">

                <div class="modal fade" id="hp-avatar-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="cropper-example-2">
                                    <img src="@routes.ProfileController.getTempAvatar(profile.id)" width="100%"
                                         alt="Picture" id="hp-avatar-preview">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="@routes.ProfileController.createAvatar(profile.id)"
                                      id="hp-avatar-upload-finish" method="post">
                                    <button type="button" class="btn btn-warning" id="hp-avatar-save-button">Speichern
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                    </button>
                                    <div class="loading"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="@routes.ProfileController.createTempAvatar(profile.id)" id="hp-avatar-uploadform"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Profilbild</label>
                        @if(profile.hasAvatar){
                        <div class="col-sm-1">
                            <img alt="avatar" src="@routes.ProfileController.getAvatar(profile.id, " medium")"
                            class="hp-avatar-medium" />
                        </div>
                        <div class="col-sm-8">
                            } else {
                            <div class="col-sm-10">
                                }

                                <div class="hp-avatar-input-wrapper btn btn-warning"
                                     data-toggle="tooltip" data-placement="top"
                                     title="Formate: JPG oder PNG, Max. 3 MB, Min. 250x250px">
                                    @if(profile.hasAvatar){ Bild ändern } else { Bild hinzufügen }
                                    <input type="file" name="avatarimage" class="hp-avatar-fileinput" id="yeah"/>
                                </div>
                                <span class="hp-avatar-loading"></span>

                                <div class="hp-avatar-flash">
                                </div>
                            </div>
                        </div>
                </form>
            </div>

            @form(routes.ProfileController.update(profile.id), 'class -> "form-horizontal", '_role -> "form") {

            @inputText(
            profileForm("email"),
            'class -> "form-control",
            '_label -> "Email",
            'placeholder -> "max.mustermann@muster.de"
            )

            <div class="form-group">
                <label class="control-label col-sm-2" for="studycourse">Studiengang</label>

                <div class="col-sm-10">
                    <select class="form-control" name="studycourse" id="studycourse">
                        @if(profile.studycourse == null) {
                        <option value="0" selected="selected">Keine Angabe</option>
                        } else {
                        <option value="0">Keine Angabe</option>
                        }
                        @for(studycourse <- studycourses){
                        <option value="@studycourse.id" @if(profile.studycourse !=null &&
                                profile.studycourse.equals(studycourse)){selected="selected" }>@studycourse.title
                        </option>
                        }
                    </select>
                </div>
            </div>

            @if(profile.role == models.enums.AccountRole.STUDENT) {
            <div class="form-group">
                <label class="control-label col-sm-2" for="semester">Semester</label>

                <div class="col-sm-10">
                    <select class="form-control" name="semester" id="semester" style="margin-bottom: 3px">
                        @if(profile.semester == null) {
                        <option value="0" selected="selected">Keine Angabe</option>
                        } else {
                        <option value="0">Keine Angabe</option>
                        }
                        <option value="1" @if(profile.semester !=null && profile.semester== 1){selected="selected" }>1.
                            Semester
                        </option>
                        <option value="2" @if(profile.semester !=null && profile.semester== 2){selected="selected" }>2.
                            Semester
                        </option>
                        <option value="3" @if(profile.semester !=null && profile.semester== 3){selected="selected" }>3.
                            Semester
                        </option>
                        <option value="4" @if(profile.semester !=null && profile.semester== 4){selected="selected" }>4.
                            Semester
                        </option>
                        <option value="5" @if(profile.semester !=null && profile.semester== 5){selected="selected" }>5.
                            Semester
                        </option>
                        <option value="6" @if(profile.semester !=null && profile.semester== 6){selected="selected" }>6.
                            Semester
                        </option>
                        <option value="7" @if(profile.semester !=null && profile.semester== 7){selected="selected" }>7.
                            Semester
                        </option>
                        <option value="8" @if(profile.semester !=null && profile.semester== 8){selected="selected" }>8.
                            Semester
                        </option>
                    </select>

                    <select class="form-control" name="degree">
                        @if(profile.degree == null) {
                        <option value="null" selected="selected">Keine Angabe</option>
                        } else {
                        <option value="null">Keine Angabe</option>
                        }
                        <option value="Bachelor" @if(profile.degree !=null && profile.degree.equals(
                        "Bachelor")){selected="selected"}>Bachelor</option>
                        <option value="Master" @if(profile.degree !=null && profile.degree.equals(
                        "Master")){selected="selected"}>Master</option>
                        <option value="Diplom" @if(profile.degree !=null && profile.degree.equals(
                        "Diplom")){selected="selected"}>Diplom</option>
                    </select>
                </div>
            </div>
            }

            @inputText(
            profileForm("homepage"),
            'class -> "form-control",
            '_label -> "Homepage"
            )

            @textarea(
            profileForm("about"),
            'class -> "form-control",
            '_label -> "Über mich",
            'placeholder -> "Beschreibe dich ein wenig...",
            'rows -> 5
            )


            <div class="form-group">
                <label class="control-label col-sm-2">@Messages("notification.email_notifications")</label>

                <div class="col-sm-10">
                    <label><input type="radio" name="emailNotifications" value="@models.enums.EmailNotifications.NONE"
                                  @if(profile.emailNotifications== null || profile.emailNotifications==
                                  models.enums.EmailNotifications.NONE) { checked="checked" }>
                        @Messages("notification.email_notifications.none")</label><br>
                    <label><input type="radio" name="emailNotifications"
                                  value="@models.enums.EmailNotifications.COLLECTED_DAILY"
                                  @if(profile.emailNotifications !=null && profile.emailNotifications==
                                  models.enums.EmailNotifications.COLLECTED_DAILY){ checked="checked" }>
                        @Messages("notification.email_notifications.collected_daily")
                        <input type="number" class="form-control input-sm hp-notification-hour" min="0" max="23"
                               name="dailyEmailNotificationHour"
                               value="@if(profile.dailyEmailNotificationHour !=null){@profile.dailyEmailNotificationHour}else{18}">
                        @Messages("notification.email_notifications.oclock")</label><br>
                    <label><input type="radio" name="emailNotifications" value="@models.enums.EmailNotifications.HOURLY"
                                  @if(profile.emailNotifications !=null && profile.emailNotifications==
                                  models.enums.EmailNotifications.HOURLY){ checked="checked" }>
                        @Messages("notification.email_notifications.hourly")</label><br>
                    <label><input type="radio" name="emailNotifications"
                                  value="@models.enums.EmailNotifications.IMMEDIATELY_ALL"
                                  @if(profile.emailNotifications !=null && profile.emailNotifications==
                                  models.enums.EmailNotifications.IMMEDIATELY_ALL){ checked="checked" }>
                        @Messages("notification.email_notifications.immediately_all")</label>
                </div>
            </div>

            <div class="pull-left">
                <a id="hp-delete-account" href="#hp-deleteModal" data-toggle="modal">
                    <button class="btn btn-danger">ACCOUNT LÖSCHEN</button>
                </a>
                @if(Secured.isAdmin()) {
                <a href="@routes.ProfileController.convert(profile.id)" role="button" class="btn btn-warning">
                    Account konvertieren</a>
                }
            </div>
            <div class="pull-right">
                <input type="hidden" id="avatar" name="avatar" value="">
                <input type="submit" class="btn btn-warning" value="Speichern">
                <a type="button" class="btn btn-default" href="@routes.ProfileController.me()">Abbrechen</a>
            </div>
            <div class="clearfix"></div>
            }
        </div>
    </div>
</div>
}
