@(account: Account, approvedGroups: List[Group], approvedCourses: List[Group])

@main("Gruppen & Kurse von " + account.name) {

<!-- Start infoModal -->
@for(group <- approvedGroups ++ approvedCourses) {
<div class="modal fade" id="infoModal@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    @views.html.Group.snippets.infoModal(group)
</div>
}
<!-- Ende infoModal -->

@views.html.Profile.snippets.header(account)

<div class="row">
    <div class="col-md-12" role="main">
        <div class="hp-notepad-content addmargin">
            <br />

            @defining(Component.currentAccount()) { currentUser =>
            @if(!approvedCourses.isEmpty){
            @views.html.Group.snippets.listCourses(approvedCourses, currentUser)
            } else {
            <p><i>@account.name ist noch keinem Kurs beigetreten.</i></p>
            }

            <br />
            <hr />
            <br />

            @if(!approvedGroups.isEmpty){
            @views.html.Group.snippets.listGroups(approvedGroups, currentUser)
            } else {
            <p><i>@account.name ist noch keiner Gruppe beigetreten.</i></p>
            }
            }
        </div>
    </div>
</div>
}
