@(user: Account, postForm: Form[Post])

@main("Profil") {
@***
    <div class="row">
        <div class="col-lg-12" role="main">
            <div class="hp-notepad-content addmargin">
                @defining(Component.currentAccount()) { curUser =>

                    <!-- confirmDeleteFriendModal -->
                    <div class="modal fade" id="confirmDeleteFriend@user.id" tabindex="-1" role="dialog">@views.html.Friends.snippets.deleteFriendModal(user)</div>
                    <!-- Ende confirmDeleteFriendModal -->

                @views.html.Profile.snippets.navTabs(user)

                    <div class="modal fade" id="confirmDeleteFriend@user.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    @views.html.Friends.snippets.deleteFriendModal(user)
                    </div>

                    <h2>@user.name</h2>
                    <br />
                @if(user.hasAvatar){
                    <img alt="avatar" src="@routes.ProfileController.getAvatar(user.id, "large")" class="hp-avatar-large" />
                }
                    <br />
                }
                <br />
                <table class="table">
                    <tr>
                        <th style="width:25%;">E-Mail</th>
                        <td style="width:75%;">@user.email</td>
                    </tr>
                    <tr>
                        <th>Studiengang</th>
                        @if(user.studycourse != null) {
                            <td>@user.studycourse.title @if(user.degree != null) { (@user.degree) }</td>
                        } else {
                            <td>Keine Angabe</td>
                        }
                    </tr>

                    @if(user.role == models.enums.AccountRole.STUDENT) {
                        <tr>
                            <th>Semester</th>
                            @if(user.semester != null) {
                                <td>@{user.semester + "."} Semester</td>
                            } else {
                                <td>Keine Angabe</td>
                            }
                        </tr>
                    }
                    <tr>
                        <th>Rolle</th>
                        <td>@user.role.getDisplayName()</td>

                    </tr>

                </table>
            </div>
        </div>
    </div>
***@

<div class="row">
    <div class="col-md-12" role="main">
        <div class="addmargin">
            <div id="hp-profile-header">

                @if(user.hasAvatar) {
                <img alt="avatar"
                     src='@routes.ProfileController.getAvatar(user.id, "large")'
                     class="avatar"/>
                } else {
                <div class="avatar hp-avatar-default-@user.avatar">@user.getInitials</div>
                }

                <div class="headline">
                    <h2>@user.name's
                        <div class="dropdown">
                            <a class="hp-nohref" data-toggle="dropdown" aria-expanded="false">
                                @Navigation.getTitle() <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @if(Secured.isFriend(user) || Component.currentAccount() == user) {
                                @defining(if(Navigation.getTitle().equals("Newsstream")){"active"} else {"deactive"}) { status =>
                                <li>
                                    <a href="@routes.ProfileController.stream(user.id)" data-placement="left" rel="tooltip" data-original-title="Dein öffentlicher Newsstream" data-container="body">
                                        Newsstream
                                    </a>
                                </li>
                                }
                                }
                                @defining(if(Navigation.getTitle().equals("Gruppen & Kurse")) {"active"} else {"deactive"}) { status =>
                                <li>
                                    <a href="@routes.ProfileController.groups(user.id)" rel="tooltip" data-placement="left" data-original-title="Gruppen- und Kursübersicht" data-container="body">
                                        Gruppen
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </h2>
                </div>
                <div class="bottomline">
                    <small>
                    <b>Email: </b>@if(user.email != null) {
                        <a href="mailto:@user.email">@user.email</a>
                        } else { <span>Keine Angabe</span> }
                    |
                    <b>Studiengang: </b>@if(user.studycourse != null) {
                    <span>@user.studycourse.title @if(user.degree != null) { (@user.degree) }</span>
                    } else {
                    <span>Keine Angabe</span>
                    }
                    |
                    <b>Semester: </b>@if(user.semester != null) {
                    <span>@{user.semester + "."} Semester</span>
                    } else {
                    <span>Keine Angabe</span>
                    }
                    |
                    <b>Rolle: </b><span>@user.role.getDisplayName()</span>
                    </small>
                </div>
                <div class="links">
                    @if(Secured.isFriend(user)) {

                    <a href="#confirmDeleteFriend@user.id" class="hp-nohref btn btn-default btn-xs" role="button" data-toggle="modal">
                        <span class="glyphicon glyphicon-trash"></span> FREUNDSCHAFT BEENDEN
                    </a>

                    } else {
                    @if(Component.currentAccount() != user) {
                        <a href="@routes.FriendshipController.requestFriend(user.id)"
                           class="hp-nohref btn btn-default btn-xs"
                           role="button"
                           rel="tooltip"
                           data-placement="left"
                           data-original-title="Sende eine Freundschaftsanfrage"
                           data-container="body">
                            <span class="glyphicon glyphicon-plus"></span> FREUNDSCHAFTSANFRAGE SENDEN
                        </a>
                    }
                    }
                </div>

            </div>
        </div>
    </div>
</div>
}
