@(user: Account, posts:List[Post], postForm: Form[Post], count: Integer, limit: Integer, currentPage: Integer)

@import play._

@main("Newsstream") {
@defining(Component.currentAccount()) { curUser =>

	<!-- confirmDeleteFriendModal -->
	<div class="modal fade" id="confirmDeleteFriend@user.id" tabindex="-1" role="dialog">@views.html.Friends.snippets.deleteFriendModal(user)</div>
	<!-- Ende confirmDeleteFriendModal -->

    @views.html.Profile.snippets.navTabs(user)
	<h2>@user.name's Newsstream</h2>
	
	@if(curUser.equals(user)) {
	<h5>(Das sehen deine Freunde)</h5>
	}
  	<br />
}
	@views.html.snippets.postForm(user.id, models.Post.PROFILE, postForm)
		
	@views.html.Profile.snippets.streamRaw(user, posts, postForm, count, limit, currentPage)
}